{
  "plugins": [
    "react-hot-loader/babel",
    "transform-react-inline-elements",
    "transform-decorators-legacy",
    "transform-runtime",
    "es6-promise"
  ],
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ]
}