body {
  .overlay .revision-history-overlay.overlay-wrapper.full-height {
    width: 45vw;
    left: 35vw;
  }

  $timeline-border-color: #cccccc;
  $timeline-border: 1px solid $timeline-border-color;
  .revision-history__header {
    display: flex;
  }

  .revision-history-header__icon {
    color: $color-primary;
    margin-right: 10px;
    font-weight: normal;
  }

  .revision-history-header__language-switcher {
    grid-column-start: 4;
    grid-column-end: 6;
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
  }

  .revision__item {
    margin: 0 0 0 20px;
    padding: 10px 20px;
    border-left: $timeline-border;
  }

  .revision__block:last-of-type .revision__item:last-of-type {
    border-color: transparent;
    border-image: linear-gradient($timeline-border-color 20px, transparent 1px)
      1;
  }

  .revision-block:first-of-type .revision__item:first-of-type {
    border-color: transparent;
    border-image: linear-gradient(
        to top,
        $timeline-border-color 20px,
        transparent 1px
      )
      1;
  }

  .revision-item--non-consecutive {
    border-style: dotted;
  }

  .revision-block__header {
    display: flex;
    margin-left: 20px;
    padding-left: 17px;
    border-left: $timeline-border;
  }

  .revision-block__header-date {
    background-color: black;
    padding: 5px 10px;
    border-radius: 10px;
    color: $color-text-light-grey;
    font-weight: bold;
  }

  .revision-item__header {
    display: flex;
    justify-content: space-between;
    color: $color-text-medium-grey;
    position: relative;
    overflow: visible;
  }

  .revision-item-header__dot {
    border-radius: 50%;
    background-color: $color-primary;
    position: absolute;
    top: 1px;
    left: -25px;
    height: 9px;
    width: 9px;
  }

  .revision-block:first-of-type .revision-item-header__dot {
    height: 12px;
    width: 12px;
    left: -26px;
  }

  .revision-item-header__description {
    flex: 1;
    display: flex;
    margin: 0 -5px;

    & > div {
      margin: 0 5px;
    }
  }

  .revision-item-header__time,
  .revision-item-header__title {
    font-weight: bold;
  }

  .revision-item-header__revert-button {
    display: none;
    color: $color-primary;
  }

  .revision-item--hovered {
    .revision-item-header__revert-button {
      padding: 0;
      font: inherit;
      display: flex;
    }

    .revision-item__content {
      border-left: 3px solid lighten($color-primary, 5);
    }
  }

  .revision-item__content {
    margin-left: 40px;
    margin-top: 5px;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    border-left: 3px solid transparent;
  }

  .revision-item__content-box {
    display: flex;
    flex-wrap: wrap;
  }

  .country-diff {
    width: 100%;
  }

  .country-diff__sub-header {
    display: grid;
    grid-template-columns: 40px 40px min-content min-content;
    gap: 5px;
    font-weight: bold;
    margin: 5px 0;
    align-items: center;

    .langtag-label {
      margin-left: 5px;
    }
  }

  .content-diff--added,
  .content-diff--deleted {
    padding: 0 1px;
  }

  @mixin link-diff-color($basecolor) {
    background-color: $basecolor;

    &.content-diff--foreign-row-deleted {
      background-color: transparentize($basecolor, 0.3);
    }
  }

  .link-diff {
    margin: 2px;
    padding: 8px;
    border-radius: 3px;
    color: $color-primary-contrast-text;
    @include link-diff-color($color-primary);
    display: flex;

    &.content-diff--added {
      @include link-diff-color($color-revision-link-added);
    }

    &.content-diff--deleted {
      @include link-diff-color($color-revision-deleted);
    }

    .link-diff__icon {
      margin-right: 5px;
      position: relative;

      svg {
        fill: $color-primary-contrast-text;
      }
    }
  }

  .content-diff--added {
    color: $color-primary-text;
    background-color: transparentize($color-revision-added, 0.9);
  }

  .content-diff--deleted {
    color: $color-revision-deleted;
    background: transparentize($color-revision-deleted, 0.9);
    text-decoration: line-through;
  }

  .annotation_removed {
    text-decoration: line-through;
    text-decoration-color: $color-text-medium-grey;
    border: none;
  }

  .diff-comment-item {
    display: flex;
  }

  .diff-comment-item__icon {
    margin-right: 10px;
  }

  .diff-comment-item.annotation_added {
    .diff-comment-item__icon {
      color: $color-revision-link-added;
    }
  }

  .diff-comment-item.annotation_removed {
    color: $color-text-medium-grey;

    .diff-comment-item__comment-value {
      text-decoration: line-through;
      text-decoration-color: $color-text-medium-grey;
    }
  }

  .history-filter-area__context {
    font-size: 14px;
    color: $color-text-medium-grey;
  }

  .history-filter-area__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .revision-history-overlay .overlay-content .history-overlay__body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .revision-history-overlay .overlay-content {
    overflow: hidden;
  }

  .history-overlay__content {
    overflow-y: auto;
  }

  .history-filter-area {
    background-color: $color-revision-filter-background;
    color: white;
    padding: 15px 50px;
    margin: 0;
  }

  // The picker sets the same color to most elements inside the filter area
  .history-filter-area .rdtPicker {
    color: black;
    .rdtDay:hover {
      background-color: $color-primary;
      color: $color-primary-contrast-text;
    }
  }

  .history-popup__header {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }

  .history-filter__toggle-filters-button,
  .history-filter__clear-filters-button {
    @include button-look();
    display: flex;

    .fa {
      margin-right: 5px;
    }
  }

  .toggle-filter-button__arrow {
    margin-left: 5px;
  }

  .history-filter__clear-filters-button {
    background-color: transparent;
    color: $color-text-medium-grey;
    display: none;
    border-radius: 3px 3px 0 0;

    &.clear-filters-button--has-filters {
      display: flex;
    }

    &:hover {
      background-color: $color-text-light-grey;
      color: $color-primary-contrast-text;
    }
  }

  .history-filter__toggle-filters-button {
    background-color: $color-text-light-grey;
    color: $color-primary-text;

    &.toggle-filters-button--open {
      border-radius: 3px 3px 0 0;
    }

    &.toggle-filters-button--has-filters,
    &:hover {
      background-color: $color-primary;
      color: $color-primary-contrast-text;
    }
  }

  .history-popup__body {
    border-top: 2px solid $color-text-light-grey;
    background-color: #2d3135;
    padding: 10px;
    padding-bottom: 0;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;

    &.popup-body--has-filters {
      border-color: $color-primary;
    }
  }

  .search-bar {
    position: relative;
  }

  .search-bar__input {
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
    width: 100%;
  }

  .search-bar__icon {
    position: absolute;
    right: 0;
    top: 0;
    color: $color-text-medium-grey;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .history-popup-item__header {
    text-transform: uppercase;
    padding-bottom: 8px;
    color: $color-text-medium-grey;
    font-weight: bold;
  }

  .history-popup__item {
    margin: 0 5px;
    margin-bottom: 10px;
    padding-bottom: 3px;

    &.item__select-from,
    &.item__select-to,
    &.item__select-author {
      border-bottom: 1px solid $color-primary;

      .search-bar__input {
        color: $color-text-light-grey;
        border-bottom: none !important;
      }
    }

    &.item--large {
      grid-column-start: 1;
      grid-column-end: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    &.item__select-author {
      .search-bar__input {
        padding: 0;
        background-color: transparent;
      }
    }
  }

  .history-date-picker {
    display: flex;
    width: 100%;
    position: relative;
  }

  .history-date-picker .rdt {
    position: absolute;
    left: 0;
    top: 28px;
  }

  .history-date-picker__picker-button {
    flex: 1;
    display: flex;
    margin: 3px 5px;
  }

  .history-date-picker__clear-button {
    margin: 3px 5px;
  }

  .history-date-picker__button-icon {
    color: $color-primary;
  }

  .history-date-picker__date {
    margin-left: 5px;
    color: $color-text-light-grey;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .form-control {
    display: none;
  }

  .confirm-revert {
    display: grid;
    display: -ms-grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    text-align: center;
  }

  .confirm-revert__preview {
    width: 100%;
    box-shadow: -7px 0px 15px $color-text-medium-grey;
  }

  .confirm-revert__preview .revision-item__content {
    padding: 20px;
    margin: 20px;
  }

  .revisin-item__content-box {
    overflow: hidden;
    overflow-x: auto;
  }

  .confirm-revert-preview__header {
    margin: 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: transparentize($color-very-dark, 0.3);
  }

  .confirm-revert-preview__date-string {
    color: $color-text-medium-grey;
    text-align: left;
    display: flex;
    margin: 20px;
  }

  .confirm-revert-preview__date {
    margin: 0 5px;
  }

  .overlay .revision-history-overlay .confirm-revert {
    padding: 0;
    margin: 0;
  }
  .revision__block--numeric,
  .revision-block--integer {
    .content-diff {
      padding: 2px 4px;
      border-radius: 2px;
    }
  }

  .revision__block--currency {
    .current-value,
    details {
      width: 100%;
    }
    $min-cell-width: 65px;
    $gap: 4px;
    $min-item-width: calc(3 * $min-cell-width + 2 * $gap);
    .content-diff {
      font-weight: normal;
    }
    .country-diff__full-value {
      padding-top: 4px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax($min-item-width, 1fr));
      grid-gap: $gap;
    }

    .country-diff__value-item {
      min-width: calc(3 * $min-cell-width);

      display: grid;
      grid-template-columns: $min-cell-width 1fr $min-cell-width;
      grid-gap: $gap;
      & > * {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        background: $color-border-grey;
        color: $color-text-medium-grey;
      }
    }

    summary {
      min-height: 27px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .toggle-indicator {
        width: min-content;
        height: min-content;
        &__wrapper {
          padding: 5px;
          transition: transform 200ms ease-out;
        }
      }
    }
    details[open] .toggle-indicator__wrapper {
      transform: rotate(90deg);
    }
  }

  .revision__block--currency.revision__block--current-value {
    .country-diff__full-value {
      padding-top: 0;
    }
    .revision-item__content {
      background: transparent;
      margin: 0px;
      margin-left: 30px;
      .country-diff__value-item > * {
        background: $color-white;
      }
      .value-item__currency {
        background: lighten($color-border-grey, 2);
      }
    }
  }
}
