.entityView {
  position: relative;
  display: flex;
  max-height: 60vw;
  flex-flow: column;

  .view {
    margin-top: 25px;
    text-align: left;

    .row-headline {
      font-weight: bold;
      padding: 10px 0;
      text-transform: uppercase;

      a {
        border: 1px solid $color-subtle-grey;
        border-radius: 3px;
        padding: 3px 10px;
        vertical-align: middle;

        .fa {
          color: $color-text-medium-grey;
          margin-left: 5px;
        }
      }

      span {
        padding-left: 11px;
      }

      > .fa {
        color: $color-text-medium-grey;
        margin-right: 5px;
      }
    }
  }

  .view-column {
  }

  .view-content {

    &:empty {
      padding: 12px 0;
    }
  }

  .view-shorttext, .view-text, .view-richtext, .view-numeric, .view-boolean, .view-datetime, .view-date {
    .view-content {
      background-color: white;
      border: 1px solid $color-text-light-grey;
      padding: 12px;
      margin-bottom: 12px;
    }
  }

  .view-link, .view-attachment {
    .view-content {
      width: 100%;
      border: 1px solid $color-text-light-grey;
      border-radius: 3px;
      padding: 10px;

      .edit-links-button {
        @include button-look();
        background-color: $color-primary-lighter;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
      }

      .link-list {

        &:not(:empty) {
          border-top: 1px solid $color-text-light-grey;
          padding-top: 10px;
        }
      }

      .link-label {
        display: inline-block;
        box-sizing: border-box;

        padding: 6px;
        margin: 0 12px 12px 0;

        color: $color-primary-contrast-text;
        background-color: $color-primary;

        border: 1px solid $color-primary-darker;

        @include border-radius(3px);
        @include box-shadow(0 2px 1px $color-text-medium-grey);

        &:hover {
          cursor: pointer;

          color: $color-primary;
          background-color: $color-select-list-selected;

          border: 1px solid $color-primary;
        }

        &.delete {

          &:hover {
            cursor: pointer;

            color: $color-primary;
            background-color: $color-select-list-selected;

            border: 1px solid $color-primary;

            i {
              color: $color-primary-contrast-text;
              background-color: $color-primary;
            }
          }

          i {
            display: initial;
            padding: 3px 5px;
            height: $space-height-link-delete-button - 6px;
            line-height: $space-height-link-delete-button - 6px;
            vertical-align: top;
            margin-top: 1px;
            margin-right: 1px;
            margin-left: 5px;
            border: 1px solid $color-primary;
            @include border-radius(3px);
            cursor: pointer;
            background-color: $color-primary;

            &:hover {
              background-color: $color-primary-contrast-text;
              color: $color-primary;
            }
          }
        }
      }
    }
  }

  .view-currency {
    .view-column {
      width: 100%;
      border: 1px solid $color-text-light-grey;
      border-radius: 3px;
      padding: 10px;
    }

    .currency-item {
      display: inline-block;
      background-color: white;
      padding: 8px;
      @include border-radius(3px);
      @include box-shadow(0 2px 1px $color-text-medium-grey);
      margin: 0 12px 12px 0;

      &.not-set {
        background-color: $color-border-grey;
      }

      &:hover {
        background-color: $color-selected-row;
      }

      &.editing {
        @include box-shadow(0 2px 1px $color-primary-darker);
      }
    }

    .langtag {
      vertical-align: middle;
      display: inline-block;
      text-align: center;
      margin-right: 5px;

      .langtag-label {
        display: block;
      }
    }
  }

}