@import "../variables";
@import "../helper";

.overlay {
  .entity-view {
    &.is-locked {
      &:before {
        font-family: FontAwesome;
        content: "\f023";
        position: fixed;
        right: 0;
        padding: 10px;
        top: 82px;
        font-size: large;
        color: $color-text-light-grey;
      }
    }
    .item {
      position: relative;
      border: none;

      &.disabled {
        cursor: not-allowed;
      }

      &:not(.has-mouse-pointer) .popup-button svg {
        fill: transparent;
      }

      &:hover {
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          border-left: 3px solid $color-text-medium-grey;
        }
      }

      &.has-focused-child {
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          border-left: 3px solid $color-primary;
        }
      }

      &.needs-other-translation {
        &:after {
          content: "";
          position: absolute;
          left: calc(100% - 12px);
          top: calc(100% - 12px);
          width: 0;
          height: 0;
          border: 6px solid transparent;
          border-right-color: $color-needs-translation;
          border-bottom-color: $color-needs-translation;
        }
      }

      &.needs-my-translation {
        &:after {
          content: "";
          position: absolute;
          left: 5px;
          top: 5px;
          width: 0;
          height: 0;
          border: 3px solid $color-needs-translation;
          border-radius: 3px;
        }
      }

      &.needs-other-translation {

      }
    }

    .rich-text-component {
      .content-pane {
        max-height: 250px;
      }
    }
    .currency {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      .currency-item {
        position: relative;
        width: 33%;
        padding: 7px 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        border: none;
        border-color: transparent;

        &.not-set {
          .currency-string, .langtag-label, .currency-code {
            color: $color-text-medium-grey;
          }
        }

        &:hover {
          border-color: $color-primary-lighter;
        }
        &.editing {
          border-color: transparent;
        }

        div, span {
          @include flex-centered();
          height: 100%;
          margin: 0 0.5px;
          flex-direction: column;
          padding: 5px 0;
        }

        .langtag {
          flex: 1;
          @include flex-centered();
          background-color: $color-white;
          .langtag-label {
            font-weight: normal;
            padding: 0;
            margin: 0;
            height: $font-size-standard;
          }
        }

        .value {
          flex: 2;
          background-color: $color-white;
          border-color: inherit;

          .currency-string {
            border-bottom: 1px solid;
            border-color: inherit;
            height: $font-size-standard;
            width: 80%;
          }

          .currency-input {
            @include flex-centered();
            flex-flow: row nowrap;
            padding: 0;
            margin: 0;
            input {
              border: none;
              border-bottom: 1px solid transparent;
              width: 45%;
              color: $color-text-medium-grey;
              &.left {
                text-align: right;
              }
              &.right {
                width: 20%;
              }
              &:focus {
                border-bottom: 1px solid $color-primary-lighter;
                color: $color-primary-text;
              }
            }
          }
        }

        .currency-code {
          flex: 1;
          background-color: $color-background-very-light-grey;
        }
      }
    }

    .boolean {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      .value {
        margin-left: 10px;
        color: $color-text-medium-grey;
        pointer-events: none;
      }
    }

    .datetime {
      border-color: inherit;
      border-bottom: 1px solid;
      padding-bottom: 2px;
      transition: border 0.3s;
    }
  }
}

.eev-language-switcher {
  height: 14px;
  width: 60px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border-radius: 3px;
  color: $color-primary-contrast-text;
  outline: none;
  padding: 3px;
  border: 1px solid $color-text-medium-grey;

  .langtag {
    display: flex;
    justify-content: space-between;
    min-width: 36px;
  }

  &:hover, &.open {
    background-color: $color-primary;
    border-color: $color-primary;
  }

  &.open {
    @include rounded-upper-borders();
  }

  .eev-label {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  .eev-dropdown {
    position: absolute;
    left: -1px;
    top: calc(100% + 1px);
    width: calc(100% + 2px);
    box-shadow: 0 2px 2px $color-text-medium-grey;
    z-index: 5;

    .menu-item {
      background-color: $color-white;
      color: $color-text-medium-grey;
      height: 24px;
      padding: 0;
      &.active {
        background-color: $color-primary;
        color: $color-primary-contrast-text;
      }
      position: relative;

      a {
        position: absolute;
        right: 0;
        padding: 5px 10px;
        width: 100%;
        height: 100%;
        display: block;
        box-sizing: border-box;

        i {
          position: absolute;
          right: 0;
          padding-right: 8px;
        }
      }

      &:hover {
        background-color: $color-hover-background;
        color: $color-hover-foreground;
      }
    }
  }
}

.overlay {
  .overlay-content {
    .content-items {
      .item-header {
        .title-wrapper {
          position: relative;
          display: inline-flex;
          align-items: center;

          .entry-popup-wrapper {
            text-transform: none;
            font-weight: normal;
            position: absolute;
            left: -40px;

            .popup-button {
              position: relative;
              height: 30px;
              width: 30px;

              a {
                position: absolute;
                background-color: transparent;
                color: $color-primary;
                border-radius: 3px;
                @include button-with-icon();

                div {
                  flex: 1;
                }
              }

              &:hover, &.is-open {
                a {
                  background-color: $color-primary;
                  svg {
                    fill: $color-white;
                  }
                }
              }

              &.is-open {
                a {
                  @include rounded-upper-borders;
                }
                &.menu-is-right {
                  a {
                    border-radius: 3px 0 0 3px;
                  }
                }
              }
            }

            .entry-popup {
              @include popup-menu();
              z-index: 5;
              width: 25vw;
              top: 30px;

              &.inverse {
                bottom: 0;
                left: 29px;
                top: auto;
                border-top: none;
                border-radius: 0 3px 3px 0;
                border-left: 3px solid $color-primary;
              }
            }
          }
        }
      }
    }
  }
}

.overlay {
  .entity-view {
    .translation-arrow {
      margin-top: 10px;
      position: fixed;
      left: -1.5vw;
      top: 0;
      border-top: 1.5vw solid transparent;
      border-bottom: 1.5vw solid transparent;
      border-right: 1.5vw solid $color-overlay-background-even;
    }

    .translation-view {
      position: absolute;
      left: -40vw;
      width: 38vw;
      top: 0;
      height: 1000vh;
      background-color: $color-overlay-background;
      overflow: hidden;
      overflow-y: auto;
      box-shadow: 0 0 15px 0;

      .toggle-button {
        a {
          padding: 10px;
          i {
            color: $color-text-light-grey;
          }
        }
      }

      .item-header {
        padding-bottom: 0;
        .langtag {
          text-transform: none;
          font-weight: normal;
          img {
            margin-right: 5px;
          }
        }
      }

      .item-content {
        padding-top: 10px;
      }

      .pseudo-header {
        display: flex;
        height: 50px;
        align-items: center;
        font-size: larger;
        font-weight: bold;
        justify-content: space-between;

        a {
          padding: 8px 8px 18px;
          font-size: x-small;
        }

        div {
          padding-right: 20px;
        }
      }

      .single-value {
        width: 100%;
        height: 80%;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
        overflow-y: auto;
      }
    }
  }
}

.overlay {

  .separator {
    padding: 10px 20px;
    color: $color-text-medium-grey;
    border-top: 1px solid $color-border-grey;
    text-transform: uppercase;
  }

  .header-wrapper {
    .header-components {
      position: absolute;
      left: 45px;
      right: 0;
      top: 0;
      bottom: 0;

      .search-and-popup {
        position: relative;
        width: calc(100% - 60px);
        height: calc(100% - 10px);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .header-filter-bar {
          padding: 5px;
          border-radius: 3px;
          border: none;
          width: calc(100% - 41px);
          margin-right: 10px;
        }

        .header-popup-wrapper {
          position: relative;
          width: 29px;
          height: 26px;

          .popup-button {
            position: relative;
            width: 100%;
            height: 100%;

            a {
              @include button-with-icon();
              background-color: transparent;
              color: $color-primary-contrast-text;
              border: 1px solid $color-text-medium-grey;
              border-radius: 3px;

              .svg-icon {
                flex: 1;
                max-width: none;
              }
            }

            &:hover, &.is-open {
              a {
                border-color: $color-primary;
                background-color: $color-primary;
                color: $color-primary-contrast-text;
              }
            }

            &.is-open {
              a {
                @include rounded-upper-borders;
              }
            }
          }

          .popup-wrapper {
            @include popup-menu();
            right: 0;
            top: 26px;
            width: 25vw;

            .entry {
              left: 1px;
            }
          }
        }
      }
    }
  }
}

//--------------------------------------------
// IE places "fixed" elements more naturally
//--------------------------------------------
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .overlay .entity-view .translation-arrow {
    left: 38.5vw;
  }
}
