.cell.cell-currency {
  &.editing {
    .cell-content {
      padding: 0;
    }

    .currency-item {
      height: 45px;
      grid-template-columns: 40px 1fr 40px;
      background-color: white;
      border-bottom: 1px solid $color-border-grey;
    }

    .currency-code {
      border-left: 1px solid $color-border-grey;
      background-color: $color-background-very-light-grey;
    }
  }

  .currency-code {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .currency-item {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 30px 10px;
    gap: 6px;
    align-items: center;
    justify-content: center;
  }

  .country-code  {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid $color-border-grey;

    .langtag {
      width: auto;
      display: flex;
      flex-flow: column;
      gap: 2px;
      align-items: center;
      justify-content: center;
    }

    .langtag-label {
      margin: 0;
      line-height: 1;
    }
  }

  .currency-input {
    flex: 1;
    min-width: 75px;
    text-align: end;
    justify-self: end;
  }
}
