@import "../variables";
@import "../helper";

.cell.cell-link,
.cell.cell-attachment {

  //Overwrite editing styling because editing mode is with overlay
  &.cell-link.editing .cell-content {
    @include box-shadow(none);
  }

  //Label
  .link-label {
    @include link-look();
    max-width: 90%;
    flex: 0 0 auto;
    display: inline-flex;
    align-items: baseline;
    text-wrap: none;
    line-height: 1em;
    margin: 0 6px 0 0;
    padding: 0;

    .label-text {
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 6px 8px;
    }

    &--archived {
      background: $color-archived-bg;
      color: $color-archived-fg;

      ::before {
        content: "\f187";
        font-family: FontAwesome;
        padding-right: 8px;
      }
    }
  }

  &:not(&.selected, &.editing) {
    .link-label {
      pointer-events: none;
    }
  }

  &.selected,
  &.editing {
    .cell-content {
      flex-flow: row wrap;
      padding-bottom: 3px;

      .link-label {
        margin-bottom: 6px;
      }
    }
  }
}

.cell.cell-attachment {

  .cell-content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &:not(&.selected, &.editing) {
    .button-action {
      pointer-events: none;
      height: 25px;
    }

    .button-action__button {
      min-height: 25px;
    }

    .media-thumbnail {
      max-height: 25px;
    }

    .media-thumbnail__image--icon {
      width: 20px;
      height: 20px;

      &.icon {
        font-size: 20px;
      }
    }
  }

  .button-action {
    overflow: hidden;
    border: 1px solid #dedede;

    &:hover {
      border: 1px solid #333333;

      .media-thumbnail__overlay .icon {
        font-size: 12px;
      }
    }

    &__button {
      padding: 0;
    }
  }
}