@import "variables";

#column-filter-wrapper {
  margin-left: 20px;
  margin-top: 10px;
  outline-style: none;
  float: left;
  display: block;

  .button {
    @include header-button-look();

  }

  .infotext {
    box-sizing: border-box;
    font-size: x-small;
    padding-left: 7px;
  }

  &.active {
    .button {
      @include header-button-active();
    }
  }

  &.has-filter {
    .button {
      @include header-button-active();
      background-color: $color-primary;
      color: $color-primary-contrast-text;
    }
  }

  #column-filter-popup-wrapper {
    @include header-panel-look();
    overflow: visible;
    display: block;

    .button {
      @include button-look();
      margin: 10px 20px;
    }

    input {
      width: calc(100% - 40px);
      margin: 6px 20px;
    }

    .row {
      text-align: center;
      margin: 10px 20px;

      .button:last-of-type {
        right: 0;
      }
    }

    .column-filter-checkbox-wrapper {
      input {
        width: 30px;
        overflow: hidden;
        overflow-text: ellipses;
      }

      &.even {
        background-color: #eee;
      }
    }

    .column-checkbox-list {
      border: 1px solid blue;
    }
  }
}