.context-menu {
  @include context-menu-look();
  position: absolute;
  z-index: 2;

  a {
    display: block;
    padding: 10px 10px;

    &:hover {
      background-color: $color-select-list-selected;
    }
  }
}

.column-head .context-menu {
  @include context-menu-look();
  position: absolute;
  font-weight: normal;
  right: 0;
  top: 40px;
  z-index: 2;
  right: 0;
  top: 40px;

  a {
    border: none;
    display: block;
    padding: 10px 10px;

    &.hover {
      background-color: $color-select-list-selected;
    }
  }
}