.context-menu {
  position: absolute;
  z-index: 2;
  max-height: none;

  background-color: $color-overlay-header;
  border-radius: 4px;
  padding: 20px 0;

  a {
    display: flex;
    padding: 10px 25px;
    align-items: center;
    $dot-color: $color-text-medium-grey;

    i {
      width: 20px;
      color: $color-text-medium-grey;
      position: relative;

      &.translation {
        $dot-color: $color-needs-translation;
      }

      &.dot {
        &:before {
          $diameter: 6px;
          position: absolute;
          content: "";
          width: $diameter;
          height: $diameter;
          border-radius: $diameter;
          top: -$diameter / 2 - 2px;
          background: $dot-color;
          padding: 1px;
          border: 1px solid $color-overlay-header;
        }
      }

      &.inactive {
        &:before {
          background: darken($dot-color, 10);
        }
      }

      &.active {
        &:before {
          background: $dot-color;
          box-shadow: 0 0 0 1px $dot-color;
        }
      }
    }

    .item-label {
      color: $color-primary-contrast-text;
    }

    &:hover {
      background-color: $color-hover-dark;

      .dot.active {
        &:before {
          background: darken($dot-color, 10);
          box-shadow: none;
          border-color: $color-hover-dark;
        }
      }

      .dot {
        &:before {
          background: $dot-color;
          box-shadow: 0 0 0 1px $dot-color;
          border-color: $color-hover-dark;
        }
      }
    }
  }

  .separator {
    padding: 10px 25px 10px 45px;
    width: 100%;
    color: $color-text-medium-grey;
    text-transform: uppercase;
    box-sizing: border-box;
    font-weight: bold;

    &.with-line {
      border-top: 1px solid transparentize($color-text-medium-grey, 0.5);
      padding-top: 25px;
      margin-top: 15px;
    }
  }
}

.column-head .context-menu {
  @include context-menu-look();
  position: absolute;
  font-weight: normal;
  right: 0;
  top: 40px;
  z-index: 2;

  a {
    border: none;
    display: block;
    padding: 10px 10px;

    &:hover {
      background-color: $color-select-list-selected;
    }
  }
}