#filter-wrapper {
  float: left;
  margin-left: 20px;
  margin-top: 10px;

  .button {
    @include header-button-look();

    i {
      margin-right: 10px;
    }
  }

  &.active {
    .button {
      @include header-button-active();
    }
  }

  #filter-popup {
    @include header-panel-look();
    max-width: 600px;
    overflow: visible;

    button {
      @include button-look();
      float: right;
    }
  }

  .filter-row, .sort-row {
    overflow: visible;
    width: 100%;
    clear: both;
    margin-bottom: 20px;

    .filter-input {
      height: 30px;
      padding: 0 10px;
      line-height: 30px;
      border: 1px solid $color-grey-dark;
      @include border-radius(3px);
      outline: none;
      width: 200px;

      &:focus, &:active {
        border-color: $color-primary-lighter;
      }
    }

    .filter-select {
      width: 200px;
      display: inline-block;
      vertical-align: middle;
    }

    .seperator {
      display: inline-block;
      vertical-align: middle;
      color: $color-text-light-grey;
      max-width: 200px;
      padding: 0 20px;
      text-align: left;
      line-height: 1.2;
    }

  }

  .description-row {
    .info {
      color: $color-text-light-grey;
      padding-top: 20px;
      margin-top: 20px;
      border-top: 2px solid $color-border-grey;
      line-height: 1.5em;
      width: 100%;

      .text {
        width: 50%;
        float: left;
      }
    }

    .filter-go {
      margin-right: 20px;
    }
  }

}