header {
  @include box-sizing(border-box);
  background-color: white;
  width: 100%;
  height: $space-height-header;
  padding: 0 20px;
  border-bottom: 5px solid $color-primary;
  position: fixed;
  z-index: 9;
  overflow: visible;

  .Select {

    .Select-placeholder, :not(.Select--multi) > .Select-control .Select-value {
      line-height: $space-height-header-buttons - 2;
    }

    .Select-value-label span {
      line-height: $space-height-header-buttons;
    }

    .Select-option {
      color: $color-very-dark;
    }

    .Select-noresults {
      padding: 20px;
      font-family: $font-main;
      text-align: center;
    }

    .Select-control {
      height: $space-height-header-buttons - 2;
      border: 1px solid $color-grey-dark;
    }

    .Select-value, .Select-input, .Select-value-label {
      height: $space-height-header-buttons - 2;
      line-height: $space-height-header-buttons - 2;
    }

    .Select-input > input {
      padding: 0;
    }

    .Select-menu-outer {
      max-height: 300px;
      @include box-shadow(0px 0px 50px 0px rgba(black, 0.3));

      .Select-menu {
        max-height: 298px;
      }
    }

    .Select-value-label {
      vertical-align: top;
      display: inline-block;
    }

    &.is-open {
      .Select-control {
        z-index: 2;
      }
    }
  }

  #main-navigation-wrapper {
    float: left;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 10px;

    &.active {
      #burger {
        @include header-button-active();
      }

      #main-navigation {
        display: block;
      }

    }

  }

  #burger {
    @include header-button-look();
  }

  #main-navigation {
    @include header-panel-look();
    display: none;
    left: 0;
    max-width: 600px;

    #logo {
      margin-bottom: 20px;

      img {
        display: inline-block;
        max-height: 100px;
        width: auto;
      }

      h1 {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: -2px;
        color: $color-text-light-grey;
      }
    }

    #main-navigation-list {
      line-height: 3em;
      a {
        display: block;
      }
      i {
        margin-right: 1em;
      }
    }
  }

  #table-switcher {
    float: left;
    vertical-align: top;
    margin-top: 10px;
    width: 300px;

    .Select {
      .Select-value-label span {
        padding: 0 1em;
      }

      .Select-option {
        padding: 0.75em 38px;
      }
    }

  }

  #header-pagename {
    float: right;
    margin-right: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: $space-height-header;
    color: $color-text-light-grey;
    font-family: $font-sec;

    //hide on small devices
    @media (max-width: 800px) {
      display: none;
    }

  }

  #main-navigation-wrapper:not(.active) #burger,
  #filter-wrapper:not(.active) a.button,
  a.button {
    &:focus {
      outline: none;
      border-color: $color-primary-lighter;
    }
  }
}