@mixin header-button-look() {
  height: $space-height-header-buttons;
  border: 1px solid $color-grey-dark;
  line-height: $space-height-header-buttons;
  padding: 0 1em;
  display: inline-block;
  color: $color-primary-text;
  white-space: nowrap;
  @include border-radius(3px);
  @include box-sizing(border-box);
}

@mixin header-button-active() {
  color: white;
  background-color: $color-very-dark;
}

@mixin context-menu-look() {
  display: block;
  background-color: white;
  min-width: 200px;
  @include box-shadow(0px 0px 50px 0px rgba(black, 0.3));
  max-height: 400px;
  overflow: hidden;
}

@mixin header-panel-look() {
  @include context-menu-look;
  position: absolute;
  padding: 30px;
  top: 50px;
  border-top: 5px solid $color-very-dark;
  max-height: 400px;
}

@mixin setBgColorAndHover($baseColor) {
  background-color: $baseColor;
  &:hover {
    background-color: darken($baseColor, 5%)
  }
}

@mixin button-look() {
  height: 30px;
  font-size: 1em;
  line-height: 1;
  font-family: $font-main;
  padding: 7px 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  border: 0;
  outline-style: none;
  @include box-sizing(border-box);

  @include border-radius(3px);
  @include transition(all 250ms ease-out);

  //default
  @include setBgColorAndHover($color-primary);

  &.standard {
    @include setBgColorAndHover($color-very-dark);
  }

  &.neutral, &.cancel {
    @include setBgColorAndHover($color-button-grey);
  }

  &.positive {
    @include setBgColorAndHover($color-green);
  }

  &.negative {
    @include setBgColorAndHover($color-red);
  }

  &.white {
    color: $color-very-dark;
    @include setBgColorAndHover(#fff);
  }

  &:active, &:focus {
    box-shadow: 0px 5px 10px rgba(black, 0.4);
  }

}
