@import "variables";

#jump-spinner-wrapper {
  .jump-spinner {

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    z-index: 3;

    .jump-spinner-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      div {
        padding: 1em;
      }

      .jump-spinner-img {
      }

      .jump-spinner-title {
        font-size: xx-large;
      }

      .jump-spinner-subtitle {
        min-height: 2em;
        font-size: large;
      }
    }
  }
}