@import "variables";

#jump-spinner-wrapper {
  .jump-spinner {

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.95;
    z-index: 3;

    .jump-spinner-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      .jump-spinner-img {
      }

      .jump-spinner-title {
        padding: 0.5em;
        font-size: xx-large;
      }

      .jump-spinner-subtitle {
        min-height: 2em;
        font-size: large;
        color: $color-text-medium-grey;
      }
    }
  }
}