html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: $color-body-background;
}

header {
  @include user-select(none);
}

.initial-loader {
  background-color: $color-background-very-light-grey;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.clearfix {
  clear: both;
}