html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: $color-body-background;
  @include user-select(none)
}

header {
  @include box-sizing(border-box);
  background-color: white;
  width: 100%;
  height: $space-height-header;
  padding: 0 5%;
  border-top: 5px solid $color-primary;
  position: fixed;

  #logo {
    img {
      height: 100px;
      width: auto;
      display: block;
    }
    position: absolute;
    @include transform(translateY(-50%));
    top: 50%;
    left: $space-padding-header;
  }

  #settings-panel {
    font-size: 1.2em;
    position: absolute;
    right: $space-padding-header;
    top: 50%;
    @include transform(translateY(-50%));

    li {
      display: inline;

      margin-right: 20px;
      padding: 10px;

      background-color: white;
      color: $color-primary;

      .icon {
        margin-right: 5px;
      }

      a {
        text-decoration: none;

        &:link {
          color: inherit;
        }

        &:visited {
          color: inherit;
        }
      }

      &:hover {
        color: white;
        background-color: $color-primary;
      }
    }
  }

  #view-headline {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    text-align: center;
    @include transform(translateY(-50%));

    span {
      color: #999999;
    }

    h2 {
      font-size: 3rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: -1px;
    }
  }

}