.overlay {
  .filter-bar {
    position: absolute;
    bottom: 15px;
    width: 90%;
    left: calc(5% - 8px);

    input[type=text] {
      width: 100%;
      padding: 8px;
      border-radius: 3px;
      border: none;
    }

    .popup-button {
      display: block;
      position: absolute;
      right: -16px;
      top: 0;
      bottom: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px;
      color: $color-text-medium-grey;
    }

    .filter-option-popup {
      position: absolute;
      right: -16px;
      z-index: 1;
      background-color: $color-white;
      .menu-item {
        position: relative;
        a {
          display: block;
          width: 100%;
          padding: 12px;
        }
        &.active {
          background-color: $color-primary;
          color: $color-primary-contrast-text;
        }
        &:hover {
          background-color: $color-hover-background;
          color: $color-hover-foreground;
        }
      }
    }
  }
  .link-overlay {
    .ReactVirtualized__List {
      padding: 0 20px;
      position: absolute;
      bottom: 0;
      .ReactVirtualized__Grid__innerScrollContainer {
        position: relative;

        .list-item {
          display: block;
          width: calc(100% - 20px);
          padding: 8px;
          border-radius: 3px;
          background-color: $color-white;
          color: $color-black;

          &.isLinked {
            background-color: $color-primary;
            color: $color-primary-contrast-text;
          }

          &.selected {
            background-color: transparent;
            padding: 0;

            .left {
              width: calc(100% - 34px);
              height: 34px;

              a {
                display: block;
                width: 100%;
                padding: 8px;
                background-color: $color-white;
                color: $color-primary-text;
                border-radius: 3px;

                &:hover {
                  background-color: $color-hover-background;
                  color: $color-hover-foreground;
                }

                i {
                  float: right;
                  color: $color-primary;
                }
              }

              &.linked a {
                background-color: $color-primary;
                color: $color-primary-contrast-text;
              }

              &.has-focus a {
                background-color: $color-hover-background;
                color: $color-hover-foreground;
              }
            }

            .right {
              position: absolute;
              right: 4px;
              top: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 29px;
              height: 29px;
              border-radius: 3px;
              background-color: $color-white;
              color: $color-primary;

              &.linked {
                background-color: $color-primary;
                color: $color-primary-contrast-text;
              }

              &.has-focus {
                background-color: $color-hover-background;
                color: $color-primary;
              }
            }
          }
        }
      }
    }
  }
}