@import "variables";

.overlay {

  .overlay-wrapper.link-overlay {

    .link-overlay {
      display: flex;
      height: 100%;
      margin: 0;
      flex-direction: column;

      .linked-items {
        max-height: 30vh;
        overflow-y: auto;
        background-color: $color-white;
        border-bottom: 3px solid $color-text-light-grey;

        .link-list {
          padding: 20px 0 20px 25px;
        }
      }

      .unlinked-items {
        padding-top: 0;
        flex: 1;
      }
    }

    .row-creator-button {
      cursor: pointer;

      color: $color-primary;
      background-color: $color-white;

      height: 30px;

      position: absolute;
      left: 50%;
      bottom: 5px;

      transform: translateX(-50%);

      padding-right: 15px;

      border: 1px solid $color-primary;
      border-radius: 3px;

      display: flex;
      align-items: center;

      div {
        padding: 0 10px;
        pointer-events: none;
      }

      &:hover {
        background-color: $color-primary;
        color: $color-primary-contrast-text;
        svg {
          fill: $color-primary-contrast-text;
        }
      }
    }
  }

  .filter-bar {
    grid-column-start: 2;
    grid-column-end: 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-row-start: 3;
    -ms-grid-row: 3;
    position: relative;
    display: block;

    input[type=text] {
      width: 100%;
      padding: 8px;
      border-radius: 3px;
      border: none;
      box-sizing: border-box;
    }

    a.popup-button {
      position: absolute;
      top: -7px;
      right: 0;
      width: 31px;
      height: 31px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px;
      color: $color-text-medium-grey;
    }

    .filter-option-popup {
      position: absolute;
      right: 0;
      z-index: 1;
      background-color: $color-white;
      box-shadow: 0 5px 10px 0 $color-text-light-grey;
      .menu-item {
        position: relative;
        a {
          display: block;
          width: 100%;
          padding: 12px;
        }
        &.active {
          background-color: $color-primary;
          color: $color-primary-contrast-text;
        }
        &:hover {
          background-color: $color-hover-background;
          color: $color-hover-foreground;
        }
      }
    }
  }

  .link-overlay {
    .ReactVirtualized__List {
      padding: 15px 50px 50px 50px;
      position: absolute;
      bottom: 0;

      .ReactVirtualized__Grid__innerScrollContainer {
        position: relative;
      }
    }

    .linked-items {
      padding-right: 50px;

      .link-list {
        width: 100%;
        box-sizing: border-box;

        & > div {
          margin: 3px 0;
          display: flex;
          align-items: center;

          position: relative;
          padding-left: 25px;
        }

        &.empty-info {
          padding: 20px 40px !important;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: $color-text-medium-grey;

          i {
            font-size: larger;
            margin-right: 1em;
          }
          .text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
        }

        .draggable {
          .drag-handle {
            cursor: pointer;

            position: absolute;
            left: 0;

            svg {
              fill: transparent;
            }
          }

          &:hover .drag-handle svg {
            fill: $color-text-medium-grey;
          }

          &.is-dragging {
            opacity: 0;
          }

          &.is-hovered {
            opacity: 0.2;
          }
        }

        div:nth-child(2) {
          flex: 1;
        }
      }

      .items-title {
        display: flex;

        span {
          padding-top: 20px;
          padding-left: 50px;

          font-size: large;
        }

        .table-link {
          color: $color-primary;
        }
      }
    }

    .list-item {
      display: flex;
      width: 100%;
      height: 37px;
      border-radius: 3px;
      background-color: $color-white;
      color: $color-black;
      overflow: hidden;
      position: relative;
      align-items: center;
      padding: 0 25px;
      box-sizing: border-box;

      .link-label {
        height: $line-height-standard;
        overflow: hidden;
      }

      &.isLinked {
        background-color: $color-primary;
        color: $color-primary-contrast-text;
      }

      &.selected {
        background-color: transparent;
        padding: 0;

        .left {
          flex-grow: 1;
          padding: 0 25px;
          background-color: $color-white;
          color: $color-primary-text;
          border-radius: 3px 0 0 3px;
          display: flex;
          align-items: center;
          height: 100%;

          &:hover {
            background-color: $color-hover-background;
            color: $color-hover-foreground;
          }

          a {
            display: block;
            flex: 90;
            height: $line-height-standard;
            overflow: hidden;
          }

          &.linked {
            background-color: $color-primary;
            color: $color-primary-contrast-text;
          }

          &.has-focus {
            background-color: $color-hover-background;
            color: $color-hover-foreground;
          }

          .svg-icon {
            cursor: pointer;

            padding-right: 20px;
            width: 1em;
            height: 1em;
            font-size: medium;
          }
        }

        .right {
          right: 0;
          top: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 29px;
          height: 100%;
          border-radius: 0 3px 3px 0;
          background-color: $color-white;
          color: $color-primary;
          position: absolute;

          &.linked {
            background-color: $color-primary;
            color: $color-primary-contrast-text;
          }

          &.has-focus {
            background-color: $color-hover-background;
            color: $color-primary;
          }
        }
      }
    }
  }
}
