#media-wrapper {
  padding: 50px;
}

.current-folder {
  width: inherit;
  background-color: white;
  border-top: 3px solid $color-border-grey;
  font-family: $font-sec;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  padding: 1em;

  div {
    margin: 0.5em;
  }

  .back {
    cursor: pointer;
    margin-right: 1em;
  }

  a {
    padding-left: 10px;

    text-decoration: none;
    color: $color-primary-text;

    &:hover {
      color: $color-primary;
    }
  }
}

.media-switcher {
  width: 100%;
  background-color: white;
  border-top: 3px solid $color-border-grey;
  font-family: $font-sec;
  text-transform: uppercase;
  font-weight: bold;
  display: block;

  .media-switcher-menu {

  }

  li {
    padding: 1em;

    &.active {
      background-color: $color-primary;
      color: $color-primary-contrast-text;
    }

    a {
      text-decoration: none;
      color: $color-primary-text;

      &:hover {
        color: $color-primary;
      }
    }
  }

  .icon {
    margin-right: 1em;
  }

  .subfolder {

  }

  .file {
    display: inline;

    .button {
      margin-left: 1em;
      margin-right: 0;
      cursor: pointer;

      &.active {
        color: $color-primary;
      }
    }
  }
}

.file-edit {
  color: $color-primary-text;
  font-family: $font-sec;
  width: inherit;
  background-color: white;
  padding: 1em;
  display: block;

  .form-item {
    margin-bottom: 15px;

    .icon {
      margin-right: 1em;
    }

    input {
      width: 50%;
      min-width: 100px;
      font-size: inherit;
      background-color: white;
      border: 2px solid #999999;
      padding: 5px;
      margin-top: 5px;

      &:focus {
        border-color: $color-primary;
      }
    }
  }

  .form-button {
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: 2px solid #999999;

    &:hover {
      border-color: $color-primary;
      color: $color-primary-contrast-text;
      background-color: $color-primary;
    }
  }
}

.dropzone {
  color: $color-primary-text;
  font-family: $font-sec;
  width: inherit;
  text-align: center;
  margin-top: 50px;
  background-color: white;

  a {
    padding: 2em;
    display: block;

    &:hover {
      color: $color-primary-contrast-text;
      background-color: $color-primary;
    }
  }

  &.active {
    color: $color-primary-contrast-text;
    background-color: $color-primary;
  }
}