#media-wrapper {
  padding: 50px;

  top: $space-height-header;
  position: relative;
  background-color: $color-body-background;
  z-index: 1;
}

.current-folder {
  width: inherit;
  background-color: white;
  border-top: 3px solid $color-border-grey;
  font-family: $font-sec;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  padding: 1em;

  div {
    margin: 0.5em;
  }

  .back {
    cursor: pointer;
    margin-right: 1em;
  }

  a {
    padding-left: 10px;

    text-decoration: none;
    color: $color-primary-text;

    &:hover {
      color: $color-primary;
    }
  }
}

.media-switcher {
  width: 100%;
  background-color: white;
  border-top: 3px solid $color-border-grey;
  font-family: $font-sec;
  text-transform: uppercase;
  font-weight: bold;
  display: block;

  &:nth-child(3) {
    border-top: none;
  }

  .media-switcher-menu {

  }

  li {
    padding: 1em;
    min-height: 19px;

    &.active {
      background-color: $color-primary;
      color: $color-primary-contrast-text;
    }

    a {
      text-decoration: none;
      color: $color-primary-text;

      &:hover {
        color: $color-primary;
      }
    }
  }

  .icon {
    margin-right: 1em;
    width: 15px;
    text-align: center;
  }

  .new_folder {
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }
  }

  .subfolder {

  }

  .file, .subfolder {
    display: inline;

    .button {
      margin-left: 1em;
      margin-right: 0;
      cursor: pointer;

      &.active {
        color: $color-primary;
      }
    }
  }
}

.dropzone {
  color: $color-primary-text;
  font-family: $font-sec;
  width: inherit;
  text-align: center;
  margin-top: 50px;
  background-color: white;

  a {
    padding: 2em;
    display: block;

    &:hover {
      color: $color-primary-contrast-text;
      background-color: $color-primary;
    }
  }

  &.active {
    color: $color-primary-contrast-text;
    background-color: $color-primary;
  }
}

#overlay {
  &.full-flex {
    #overlay-wrapper {
      #overlay-content {

        div.multifile-edit {
          height: 100%;
          overflow-y: auto;
          width: 1320px;
          .multifile-file-edit-wrapper {
            height: 90%;
            overflow-y: auto;
            .multifile-file-edit {
              float: left;
              margin: 0 15px 20px 0;

              .field-item {
                .field-label {
                  padding-left: 0;
                }

                .field-input {
                  input {
                    margin-left: 0;
                  }
                }
              }
            }
          }
        }

        .singlefile-edit {
          width: 960px;
          margin: 0 auto;
        }

        .singlefile-edit, .multifile-file-edit {

          .input-wrapper {
            height: 90%;
            overflow-y: auto;
            .cover-wrapper {
              float: left;
              width: 260px;
              height: 100%;
              text-align: center;

              img, span.empty-icon {
                position: relative;
                top: 50%;
                @include transform(translateY(-50%));
              }

              span.empty-icon {
                font-size: 50px;
                .fa-plus {
                  font-size: 40px;
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  color: #fff;
                  background-color: $color-success;
                  bottom: -15px;
                  z-index: 2;
                  left: 130px;
                  line-height: 55px;
                }
              }
            }

            .properties-wrapper {
              height: 100%;
              float: left;
              margin-left: 15px;

              .field-item {
                .field-label {
                  font-family: $font-sec;
                  display: inline-block;
                  margin-bottom: 5px;
                  padding-left: 30px;
                }

                .field-input {
                  input {
                    font-size: $font-size-standard;
                    height: 30px;
                    width: 360px;
                    padding: 2px;
                    margin-left: 10px;
                    box-sizing: border-box;
                  }
                  margin-bottom: 15px;

                  .langtag {
                    width: 20px;
                    float: left;
                    text-align: center;
                  }
                }
              }
            }

            .multifile-wrapper {
              box-sizing: border-box;
              float: right;
              width: 260px;
              height: 100%;
              .dropzone {
                box-sizing: border-box;
                cursor: pointer;
                font-family: $font-main;
                height: 320px;
                text-align: center;
                border: 2px dashed $color-button-grey;
                margin: 0;
                background-color: transparent;
                padding: 10px;
              }

              #language-switcher {
                margin-top: 5px;
              }
            }
          }
        }

        .button-wrapper {
          clear: both;
          text-align: center;
          height: 10%;
        }

        .cover {
          height: 320px;
          .dropzone {
            font-family: $font-main;
            cursor: pointer;
            box-sizing: border-box;
            background-color: transparent;
            margin: 0;
            height: 100%;
            position: relative;
            border: 2px dashed $color-button-grey;;

            span {
              padding: 0;
              display: block;
              position: absolute;
              width: 95%;
              bottom: 10px;
            }
          }
        }
      }
    }
  }
}