$overlay-headline-height: 50px;

#overlay {
  display: none;

  &.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
  }

  &.flexible {
    display: block;

    #overlay-wrapper {
      top: 35%;
      height: auto;

      .content-scroll {
        position: static;
      }
    }
  }

  &.crop {

  }

  .overlay-header {
    padding: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .background {
    z-index: 1;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include opacity(0.75);
  }

  #overlay-wrapper {
    max-width: 800px;
    width: 100%;
    background-color: $color-background-very-light-grey;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70%;
    overflow: hidden;
    @include transform(translate(-50%, -50%));
    @include border-radius(5px);
  }

  .content-scroll {
    overflow-y: auto;
    top: $overlay-headline-height;
    bottom: 0px;
    position: absolute;
    left: 0px;
    width: 100%;
    z-index: 0;
  }

  #overlay-content {
    padding: 3.5rem;
    overflow-y: auto;
    box-sizing: border-box;
    height: 100%;
    position: relative;

    p {
      line-height: 1.5em;
    }

    p + p {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    strong {
      font-weight: bold;
    }

    .search-input-wrapper2 {
      height: 70px;
      overflow: hidden;

      .search-input-wrapper {
        position: relative;
        height: auto;
      }

      i {
        position: absolute;
        right: 1.5em;
        top: 50%;
        margin-top: -0.5em;
      }

    }

    .search-input {
      font: inherit;
      width: 100%;
      padding: 0.8em 1.5em;
      margin: 0;
      border-radius: 2em;
      cursor: pointer;
      background-color: #EFEFEF;

      border: 1px solid $color-grey-dark;

      box-sizing: border-box;
      outline: none;
      position: relative;

      &:focus {
        background-color: #fff;
      }
    }

    .input {
      box-sizing: border-box;
      padding: 10px;
      font: inherit;
      height: 90%;
      width: 100%;
      max-width: 100%;
      display: block;
      resize: none;
      line-height: 1.5em;

      outline: none;
      background-color: white;

      border: 1px solid $color-text-medium-grey;

      &:focus {
        border: 1px solid $color-primary;
        @include box-shadow(inset 0px 0px 7px 0px rgba(50, 150, 220, 0.6));
      }
    }
  }

  .button {
    @include button-look();
    margin: 20px 10px 0 10px;
  }

  h2 {
    text-align: center;
    background-color: $color-light-link-color;
    border-bottom: 2px solid $color-darker-link-color;
    color: $color-text-link-color;
    font-size: 1.4rem;
    font-weight: normal;
    height: $overlay-headline-height;
    line-height: $overlay-headline-height;
    white-space: nowrap;
    position: relative;
    z-index: 2;
  }

  .column-name.with-link {
    cursor: pointer;
    padding: 2px 8px;
    @include border-radius(3px);
    margin-right: 10px;
    border: 2px solid $color-darker-link-color;

    &:hover {
      //color: white;
      background-color: $color-darker-link-color;
    }

    i {
      margin-right: 5px;
    }
  }

  .overlay-table-row {
    margin-right: 25px;
    display: block;
    padding: 0 0.8em;
    background-color: white;
    margin-bottom: 10px;
    @include border-radius(3px);
    cursor: pointer;
    border: 1px solid $color-grey-dark;
    border-bottom: 3px solid $color-grey-dark;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    line-height: 40px;
    @include box-sizing(border-box);

    &:hover {
      border-color: $color-darker-link-color;
      background-color: white;
    }

    &.isLinked {

      border-color: $color-darker-link-color;
      background-color: $color-light-link-color;

      &:hover {
        display: block;

        border-color: lightcoral;
        background-color: white;

        &::after {
          color: lightcoral;
          font-weight: bold;
          content: "X";
          float: right;
          text-align: right;
        }
      }
    }
  }

  &.full-flex {
    display: block;

    #overlay-wrapper {
      min-width: 600px;
      width: 90%;
      max-width: none;
      min-height: 520px;
      height: 80%;
      max-height: none;
    }

    .content-scroll {
      text-align: center;

      #overlay-content {
        height: auto;
      }
    }

  }

  &.no-scroll {
    #overlay-content, .content-scroll {
      overflow: hidden;
    }
  }

  &.has-footer {
    footer {
      height: 50px;
      width: 100%;
      position: absolute;
      bottom: 0;
      border-top: 1px solid $color-grey-dark;
      background-color: darken($color-background-very-light-grey, 2);
    }

    .content-scroll {
      bottom: 50px;
    }

    .button-wrapper {
      text-align: center;

      .button {
        margin-top: 10px;
      }
    }

  }

  #overlay-content h1 {
    font-family: $font-main;
    font-size: 20px;
  }

  //Overlay for kind text
  #overlay-content textarea.text-editor {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 20px;
    left: 0px;
    bottom: 0px;
    height: 100%;
    border: 0;
    overflow-y: auto;

    &:focus {
      border: 0;
      border-bottom: 1px solid $color-grey-dark;
    }
  }

  //Overlay for smaller confirmation popups

  .confirmation-overlay {
    text-align: center;
    p {
      margin-left: auto;
      margin-right: auto;
      max-width: 450px;
    }
  }

  .allowed-languages {
    span {
      font-weight: bold;
      display: inline-block;
      margin: 0 0.2em;
      &:after {
        content: ",";
      }
      &:last-child:after {
        content: "";
      }
    }
  }

  .VirtualScroll {
    outline-style: none;
  }

}