$overlay-headline-height: 50px;

#overlay {
  display: none;

  &.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
  }

  &.flexible {
    display: block;

    #overlay-wrapper {
      top: 35%;
      height: auto;

      .content-scroll {
        position: static;
      }
    }
  }

  .background {
    z-index: 1;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include opacity(0.75);
  }

  #overlay-wrapper {
    max-width: 600px;
    width: 100%;
    background-color: $color-background-very-light-grey;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70%;
    overflow: hidden;
    @include transform(translate(-50%, -50%));
    @include border-radius(5px);

    .content-scroll {
      overflow-y: auto;
      top: $overlay-headline-height;
      bottom: 0px;
      position: absolute;
      left: 0px;
      width: 100%;
      z-index: 0;
    }

    #overlay-content {
      padding: 3.5rem;
      overflow-y: auto;
      box-sizing: border-box;
      height: 100%;
      position: relative;

      > div {
        height: 100%;
      }

      .input {
        box-sizing: border-box;
        padding: 10px;
        font: inherit;
        height: 90%;
        width: 100%;
        max-width: 100%;
        display: block;
        resize: none;

        outline: none;
        background-color: white;

        border: 1px solid #999;

        &:focus {
          border: 1px solid $color-primary;
          @include box-shadow(inset 0px 0px 7px 0px rgba(50, 150, 220, 0.6));
        }
      }

      .button {
        font-size: 1em;

        border-radius: 4px;

        display: inline-block;

        vertical-align: top;

        margin-top: 10px;
        margin-right: 10px;

        padding: 5px 10px 5px 10px;

        background-color: white;
        border: 1px solid #999;

        &:hover {
          color: $color-primary-contrast-text;
          background-color: $color-primary;
          border-color: $color-primary;
        }
      }
    }

    h2 {
      text-align: center;
      background-color: $color-light-link-color;
      border-bottom: 2px solid $color-darker-link-color;
      color: $color-text-link-color;
      font-size: 1.6rem;
      font-weight: bold;
      height: $overlay-headline-height;
      line-height: $overlay-headline-height;
      white-space: nowrap;
      position: relative;
      z-index: 2;
    }

    li {
      padding: 0.8em;
      background-color: white;
      margin-bottom: 10px;
      @include border-radius(3px);
      cursor: pointer;
      border: 1px solid $color-grey-dark;
      border-bottom: 3px solid $color-grey-dark;

      &:hover {
        border-color: $color-darker-link-color;
        background-color: white;
      }

      &.isLinked {

        border-color: $color-darker-link-color;
        background-color: $color-light-link-color;

        &:hover {
          display: block;

          border-color: lightcoral;
          background-color: white;

          &::after {
            color: lightcoral;
            font-weight: bold;
            content: "X";
            float: right;
            text-align: right;
          }
        }
      }
    }
  }
}