@import "variables";

$overlay-headline-height: 80px;
$overlay-footer-height: 50px;
$overlay-border-radius: 5px;

.overlay {
  .overlay-wrapper {
    &.full-height {
      left: 20vw;
      width: 60vw;
      height: 100vh;
      max-height: 100vh;
      margin: 0;
      transition: transform 0.4s;
      border-radius: 0;

      .header-wrapper {
        border-radius: 0;
      }

      .overlay-content {
        max-height: none;
      }

      &.is-left {
        transition: transform 0.5s;
        transform: perspective(500px) translate3d(-20vw, 0, -10px);
      }
      &.is-right {
        &:not(.is-left) {
          transition: transform 0.4s;
          transform: translateX(20vw);

          &.is-new {
            animation: from-right 0.4s 1;
          }

          &.is-exiting {
            transform: translateX(80vw);
            transition: transform 0.4s;
          }
        }
      }
    }
  }

  @keyframes from-right {
    from {
      transform: translateX(80vw)
    }
    to {
      transform: translateX(20vw)
    }
  }
}

//--------------------------------------------------------------------------------
// Animation fix for IE
//--------------------------------------------------------------------------------
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .overlay {
    .overlay-wrapper {
      &.full-height {
        transition: left 0.4s;

        &.is-left {
          transition: left 0.5s;
          transform: none;
          left: 0;
        }
        &.is-right {
          &:not(.is-left) {
            transition: left 0.4s;
            transform: none;
            left: 40vw;

            &.is-new {
              animation: ie-from-right 0.4s 1;
            }

            &.is-exiting {
              transform: translateX(80vw);
              transition: left 0.4s;
            }
          }
        }
      }
    }
  }
}

@keyframes ie-from-right {
  from {
    left: 100vw;
  }
  to {
    left: 40vw;
  }
}

//--------------------------------------------------------------------------------
// Now back for real browsers
//--------------------------------------------------------------------------------

.overlay {
  &.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
  }

  display: none;
  background-color: transparentize($color-text-medium-grey, 1);

  .background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  &.active {
    background-color: transparentize($color-text-medium-grey, 0.3);
  }
  .overlay-wrapper {
    position: relative;
    max-width: 70vw;
    min-width: 40vw;
    max-height: 70vh;
    margin: auto;
    margin-top: 150px;
    border-radius: $overlay-border-radius;
    display: flex;
    flex-flow: column nowrap;

    background-color: $color-overlay-background;
    .header-wrapper {
      height: $overlay-headline-height;
      background-color: $color-overlay-header;
      border-top-left-radius: $overlay-border-radius;
      border-top-right-radius: $overlay-border-radius;
      position: relative;

      &.with-components {
        height: $overlay-headline-height + 40px;
      }

      .close-button {
        position: absolute;
        left: 0;
        top: 0;
        font-size: smaller;
        padding: 10px;
        i {
          color: $color-primary-contrast-text;
        }
      }

      .labels {
        position: absolute;
        left: 45px;
        top: 30px;

        .context-info {
          color: $color-text-medium-grey;
          //font-size: smaller;
          font-weight: 500;
          padding-bottom: 3px;
        }

        .title {
          color: $color-primary-contrast-text;
          font-size: medium;
        }
      }

      .action-buttons {
        position: absolute;
        right: 0;
        bottom: 10px;
        .button {
          margin: 0 10px;
          @include button-look();
        }
      }

      .language-switcher {
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
  }

  .overlay-content {
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;

    .content-items {
      .item-header {
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .svg-icon {
          height: 0.8em;
          max-width: 2em;
        }

        i {
          color: $color-primary;
          margin-left: 10px;
        }

        .column-icon {
          color: $color-text-medium-grey;

          &.button {
            @include button-look();
            text-transform: none;
          }

          .svg-icon {
            padding: 0 8px 0 0;
            width: 0.8em;
            max-width: 0.8em;
          }
        }
      }

      .item {
        width: 100%;
        padding: 15px 50px;
        box-sizing: border-box;
        border-color: transparent;

        &:hover {
          border-color: $color-primary;
        }

        &:nth-child(even) {
          background-color: $color-overlay-background-even;
        }

        &:nth-child(odd) {
          background-color: $color-overlay-background;
        }

        .item-description {
          margin-top: 15px;
          color: $color-text-medium-grey;
          display: flex;
          flex-direction: row;
          align-items: center;
          i {
            margin-right: 10px;
          }
        }

        .item-content {
          border-color: inherit;

          &:not(:first-child) {
            padding-top: 15px;
          }

          .langtag-label {
            margin-left: 5px;
            font-weight: 500;
          }
        }
      }
    }

    h1 {
      margin-bottom: 10px;
    }

    .info {
      box-sizing: border-box;
      width: 90%;
      margin-left: 5%;
      border-left: $overlay-border-radius solid $color-text-light-grey;
      color: $color-text-light-grey;
      border-top-left-radius: $overlay-border-radius;
      border-bottom-left-radius: $overlay-border-radius;
      background-color: $color-primary-contrast-text;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      &.important {
        border-left-color: $color-very-dark;
        color: $color-very-dark;
      }

      &.question {
        border-left-color: $color-overlay-question;
        color: $color-overlay-question;
      }

      &.success {
        border-left-color: $color-overlay-success;
        color: $color-overlay-success;
      }

      &.warning {
        border-left-color: $color-overlay-warning;
        color: $color-overlay-warning;
      }

      .info-icon {
        padding: 20px 0 20px 20px;
      }

      .message-content {
        padding: 20px;

        .headline {
          color: $color-very-dark;
          font-size: larger;

          &:not(:last-child) {
            margin-bottom: 15px;
          }
        }
        .message {
          font-size: small;
          color: $color-text-medium-grey;
        }
      }
    }

    input[type=text], input[type=numeric], textarea {
      background-color: transparent;
      outline: none;
      width: 100%;
      margin: 5px 0;
      border: none;
      border-color: inherit !important; // TODO: Remove important once media styles are done
      border-bottom: 1px solid;
      transition: border 0.3s;

      &:focus {
        border-color: $color-primary !important;
      }
    }

    .checkbox {
      background-color: $color-background-very-light-grey;
      border: 2px solid $color-text-light-grey;
      border-radius: 3px;
      width: 23px;
      height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & > :first-child {
      margin-top: 20px;
    }
    & > :last-child {
      margin-bottom: 20px;
    }
  }

  footer {
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    height: $overlay-footer-height;
    border-bottom-right-radius: $overlay-border-radius;
    border-bottom-left-radius: $overlay-border-radius;
    background-color: $color-overlay-footer;
    border-top: 2px solid $color-border-grey;

    .action-buttons {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .button {
        @include button-look();
        margin: 0 10px;
      }
    }
  }

  .link-list {
    max-height: 430px;
    & > .can-expand {
      .link-label-wrapper-2:last-of-type .link-label-wrapper {
        background: linear-gradient($color-primary-contrast-text, transparent);
        color: $color-text-light-grey;
        &:hover {
          background: linear-gradient($color-hover-background, transparent);
        }
      }
    }

    div {
      max-height: 430px;
    }

    .link-label-wrapper-2 {
      position: relative;
      height: 42px;
      .link-label-wrapper {
        width: 100%;
        background-color: $color-primary-contrast-text;
        color: $color-primary-text;
        border-radius: 3px;
        padding: 12px;
        box-sizing: border-box;
        margin-bottom: 5px;
        position: absolute;
        height: 37px;

        &:hover {
          background-color: $color-hover-background;
        }

        .text-wrapper {
          max-width: 90%;
          overflow: hidden;
          height: $font-size-standard;
        }

        .link-label {
          display: block;
          i {
            float: right;
          }
        }

        &.has-buttons {
          &.show-buttons {
            padding: 0;
            background-color: transparent;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & > div {
              background-color: $color-white;
              display: flex;
              align-items: stretch;
              padding: 12px;
              border-radius: 3px;

              i {
                color: $color-primary;
              }

              &:hover {
                background-color: $color-hover-background;
                color: $color-hover-foreground;
              }
            }

            .main-button {
              flex: 1;
              justify-content: space-between;

              & > a {
                display: block;
                width: 100%;
                height: 100%;
              }
            }

            .unlink-button {
              width: 16px;
              margin-left: 2px;
              justify-content: center;
            }
          }
        }
      }
    }

    .expand-button {
      display: block;
      text-align: center;
      text-transform: uppercase;
      color: $color-primary;
      i {
        margin-right: 5px;
      }
    }
  }
}

#confirm-copy-overlay-content {
  .item {
    display: flex;
    justify-content: space-between;
    .country-icon {
      flex: 3;
      .langtag-label {
        font-weight: 500;
        margin-left: 5px;
      }
    }
    .old {
      flex: 10;
      .text {
        text-decoration: line-through;
      }
    }

    i {
      flex: 1;
    }

    .new {
      float: right;
      flex: 10;
    }
  }
}

.breadcrumb-wrapper {
  position: absolute;
  left: 0;
  bottom: 2vh;
  z-index: 100;
  max-width: 35vw;
  background-color: $color-overlay-header;
  border-bottom-right-radius: $overlay-border-radius;
  border-top-right-radius: $overlay-border-radius;
  padding: 20px;

  a {
    display: block;
    height: 100%;
    width: 100%;

    .context {
      //font-size: smaller;
      font-weight: 500;
      color: $color-text-medium-grey;
    }
    .title {
      font-size: medium;
      color: $color-primary-contrast-text;
      i {
        margin-right: 5px;
      }
    }
  }
}