//Global styling overrides for the Select box
.Select {

  &.is-focused:not(.is-open) {
    .Select-control {
      box-shadow: none;
      border-color: #91c8ff;
    }
  }

  &.is-searchable {
    .Select-input {
      position: relative;
      z-index: 1;
    }

    &.is-open {
      .Select-value {
        opacity: 0.5;
      }
    }
  }

  .Select-option {
    &.is-focused {
      background-color: $color-select-list-selected;
    }

    &.is-selected {
      background-color: $color-select-list-focus;
    }
  }

  .Select-control:hover {
    box-shadow: none;
  }

  .Select-noresults {
    line-height: 1.3em;
  }

}