@import "variables";

.rich-text-component {
  width: 100%;
  min-height: 30px;
  background-color: transparent;
  box-sizing: border-box;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
  margin-bottom: 5px;
  transition: border 0.3s;

  &:hover, &:focus {
    border-bottom: 1px solid $color-primary;
  }

  .symbol-bar {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;

    .action-group {
      padding: 5px;
      background-color: $color-background-very-light-grey;
      margin-right: 10px;
      display: inline-flex;
      align-items: baseline;
      vertical-align: bottom;
      color: $color-text-medium-grey;

      .description {
        padding-right: 10px;
      }
    }

    a {
      padding: 5px;
      background-color: $color-text-light-grey;
      color: $color-primary-contrast-text;
      margin-right: 5px;
      text-align: center;
      border-radius: 3px;
      transition: background-color 0.5s;

      i {
        width: 1em;
      }

      &:hover {
        background-color: $color-text-medium-grey;
      }
    }
  }

  .content-pane {
    width: 100%;
    max-height: 250px;
    overflow: hidden;
    color: $color-text-medium-grey;

    &.input {
      overflow-y: auto;
      color: $color-primary-text;
    }

    i, em {
      font-style: italic;
    }

    b, strong {
      font-weight: bold;
    }

    ul > li {
      list-style: circle inside;
    }

    ol > li {
      list-style: decimal inside;
    }

    h1, h2, h3, h4 {
      background-color: white;
      text-align: left;
      color: $color-text-medium-grey;
      border: none;
      margin: 5px 0;
    }

    h1 {
      font-weight: bold;
      font-style: italic;
      font-size: x-large;
    }

    h2 {
      font-weight: bold;
      font-size: medium;
    }

    h3 {
      font-style: italic;
      font-size: large;
    }

    h4 {
      font-variant: small-caps;
      font-size: medium;
    }

  }

  .button-area {
    text-align: right;
  }
}
