@import "helper";
@import "variables";

#table-rename-wrapper {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  outline-style: none;

  .button {
    @include header-button-look();

    i {
      margin-right: 10px;
    }
  }

  &.active {
    .button {
      @include header-button-active();
    }
  }

}