#tableaux {
  font-size: $font-size-standard;
  top: $space-height-header;
  position: relative;
  background-color: $color-body-background;
  z-index: 1;
  display: table;
  min-width: 100%;
}

#table-switcher {
  width: 100%;
  background-color: white;
  border-top: 3px solid $color-border-grey;
  height: $space-height-table-switcher;
  font-family: $font-sec;
  text-transform: uppercase;
  font-weight: bold;

  .table-switcher-menu {
    list-style: none;
  }

  li {
    float: left;
    height: $space-height-table-switcher;
    line-height: $space-height-table-switcher;
    max-width: 100px;
    overflow: hidden;
    padding: 0 2em;

    &.active {
      background-color: $color-primary;
      color: $color-primary-contrast-text;
    }
  }

}

#table-wrapper {
  padding: 50px;
  display: table;
}

.tableaux-table {
  background-color: white;
  position: relative;
  @include box-shadow(0px 0px 50px 0px #ababab);
  display: table;

  .heading {
    border-bottom: 3px solid $color-border-grey;
    @include box-sizing(border-box);
    font-weight: bold;
    background-color: #F9F9F9;
  }

  .cell, .column-head {
    border-right: 1px solid $color-border-grey;
  }

  .row {
    border-bottom: 1px solid $color-border-grey;
  }

  .cell span {
    overflow-y: hidden;
    max-height: 200px;
    display: block;
  }

  .heading, .row {
    display: table;
    table-layout: fixed;

    .column-head, .cell {
      display: table-cell;
      width: $space-standard-cell-width;
      min-width: $space-standard-cell-width;
      max-width: $space-standard-cell-width;
      padding: 10px;
      @include box-sizing(border-box);

      &.language {
        width: 43px;
        min-width: 43px;
        max-width: 43px;
      }

      &.repeat {
        color: #999;
        font-size: 1.2em;
        text-align: center;
        padding: 0px;
      }
    }
  }

  .new-row {
    padding: 10px;
    color: $color-primary;
    font-weight: bold;
  }

}

