#tableaux {
  font-size: $font-size-standard;
  background-color: $color-body-background;

  .wrapper {
    @include box-sizing(border-box);
    padding-top: $space-height-header;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: $color-body-background;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

}

#table-wrapper {
  display: block;
  line-height: 1.2em;
  width: 100%;
  height: 100%;
  position: relative;

  .data {

  }

  .data-wrapper {
    overflow-x: auto !important;
    position: absolute;
    width: 100%;
    height: 85%;
    @include box-sizing(border-box);
    top: $space-height-table-header;
  }

}

.tableaux-table {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;

  .heading {
    border-bottom: 3px solid $color-border-grey;
    @include box-sizing(border-box);
    font-weight: bold;
    background-color: #F9F9F9;
    position: relative;
    min-width: 100%;
    left: 0px;
    top: 0px;
    z-index: 2;
    overflow: hidden;
    height: $space-height-table-header;

    &.sticky {
      position: fixed;
      z-index: 9;
      top: 0px;
      left: 50px;
    }
  }

  .column-head {
    border-right: 1px solid $color-border-grey;
  }

  .row {
    border-bottom: 1px solid $color-border-grey;

    &.selected {
      background-color: $color-selected-row;
    }
  }

  .row-group.expanded {
    border-bottom: 2px solid $color-border-grey;
    background-color: #f9f9f9;
    display: table;
  }

  .delete-row {
    position: absolute;
    z-index: 9;
    left: 2px;
    padding: 0;
    margin-top: 10px;

    .button {
      width: 35px;
      height: 35px;

      font-size: 1em;

      border-radius: 35px;

      display: block;

      background-color: white;
      border: 1px solid $color-border-grey;

      &:hover {
        color: $color-primary-contrast-text;
        background-color: $color-primary;
        border-color: $color-primary;
      }
    }
  }

  .heading, .row {
    display: table;
    table-layout: fixed;

    .column-head, .cell {
      display: table-cell;
      width: $space-standard-cell-width;
      min-width: $space-standard-cell-width;
      max-width: $space-standard-cell-width;
      padding: 9px;
      @include box-sizing(border-box);

      &.language {
        width: 80px;
        min-width: 80px;
        max-width: 80px;
        text-align: right;
      }

      &.repeat {
        color: #999;
        font-size: 1.2em;
        text-align: center;
        padding: 0px;
      }
    }
  }

  .new-row {
    padding: 8px 15px;

    .new-row-inner {
      height: 30px;
      line-height: 28px;
      padding: 0 15px;
      color: white;
      font-weight: bold;
      background-color: $color-primary;
      cursor: pointer;
      display: inline-block;
      @include border-radius(3px);
      @include transition(all 250ms ease-out);

      &:hover {
        background-color: desaturate(darken($color-primary, 10%), 10%);
      }

    }

    i, span {
      vertical-align: middle;
    }

    i {
      margin-right: 10px;
      font-size: 20px;

    }

  }
}