.toast-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;

  height: auto;
  max-width: 250px;
  max-height: 200px;
  padding: 20px 50px;
  text-align: center;

  background-color: rgba(#000, 0.70);
  color: #fff;

  z-index: 98; //behind overlay (99)
  overflow: hidden;
  cursor: default;
  pointer-events: none;

  @include box-shadow(0px 0px 50px 0px rgba(black, 0.3));
  @include border-radius(5px);
  @include transform(translate(-50% -50%));
}