/*
$table-background-color: #fafafa;
$head-cell-background-color: #ffffff;
$selected-head-cell-background-color: #ffa088;

$link-background-color : #fff;
$link-foreground-color : #88f;
$link-add-color : #8f8;

$status-text-color: #000000;
$status-border-color: #000000;
$status-background-color: #fefefe;

$status-error-text-color: #333;
$status-error-border-color: #ff8080;
$status-error-background-color: #ffa088;*/

// Colors ----------------------------------- //
$color-body-background: #efefef;
$color-background-very-light-grey: #f8f8f8;
$color-primary: #3296dc;
$color-text-light-grey: #c4c4c4;
$color-dark: #555555;
$color-very-dark: #333;
$color-button-grey: #a0a0a0;
$color-border-grey: #efefef;
$color-primary-contrast-text: #fff;
$color-primary-text: #333333;
$color-link-color: #e4eff7;
$color-grey-dark: #dedede;
$color-light-link-color: #e7f1f8;
$color-darker-link-color: #c5d9e8;
$color-text-link-color: #7c94a6;
$color-selected-row: #f3faff;
$color-success: #5ec786;
$color-green: $color-success;
$color-red: #D86357;

// Fonts ----------------------------------- //
$font-main: 'Lato', Helvetica Neue, Helvetica, Arial, sans-serif;
$font-sec: 'Montserrat', Helvetica Neue, Helvetica, Arial, sans-serif;

// Font sizes ----------------------------------- //
$font-size-base: 10px;
$font-size-standard: 1.4rem;

// Spaces ----------------------------------- //
$space-padding-header: 5%;
$space-height-table-switcher: 60px;
$space-height-header: 55px;
$space-height-header-buttons: 30px;
$space-standard-cell-width: 300px;
$space-height-cell: 45px;
$space-height-table-header: 40px;
$space-height-cell-content: 25px;
$space-height-link-delete-button: 23px;

