/*
$table-background-color: #fafafa;
$head-cell-background-color: #ffffff;
$selected-head-cell-background-color: #ffa088;

$link-background-color : #fff;
$link-foreground-color : #88f;
$link-add-color : #8f8;

$status-text-color: #000000;
$status-border-color: #000000;
$status-background-color: #fefefe;

$status-error-text-color: #333;
$status-error-border-color: #ff8080;
$status-error-background-color: #ffa088;*/

// Colors ----------------------------------- //
$color-body-background: #efefef;
$color-primary: #3296dc;
$color-border-grey: #efefef;
$color-primary-contrast-text: #fff;
$color-primary-text: #333333;
$color-link-color: #e4eff7;

// Fonts ----------------------------------- //
$font-main: 'Lato', Helvetica Neue, Helvetica, Arial, sans-serif;
$font-sec: 'Montserrat', Helvetica Neue, Helvetica, Arial, sans-serif;

// Font sizes ----------------------------------- //
$font-size-base: 10px;
$font-size-standard: 1.4rem;

// Spaces ----------------------------------- //
$space-padding-header: 5%;
$space-height-table-switcher: 60px;
$space-height-header: 180px;
$space-standard-cell-width:300px;

