$body-background-color: #eee;
$table-background-color: #fafafa;
$head-cell-background-color: #ffffff;
$selected-head-cell-background-color: #ffa088;

$status-text-color: #000000;
$status-border-color: #000000;
$status-background-color: #fefefe;

$status-error-text-color: #333;
$status-error-border-color: #ff8080;
$status-error-background-color: #ffa088;
