@import "../variables";
@import "../helper";

.cell {

  //Overwrite editing styling because editing mode is with overlay
  &.cell-link.editing .cell-content {
    @include box-shadow(none);
  }

  //Label
  & .link-label {
    @include link-look();
    display: initial;
    padding: 2px 6px;
  }

  &.selected .link-label {
    max-width: 240px;
    display: inline-flex;
    align-items: baseline;
    overflow: hidden;
    text-wrap: none;
    padding: 0 6px;
  }

  .add {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    vertical-align: bottom;
    display: block;
    background-color: white;
    border: 1px solid $color-border-grey;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    font-weight: bold;
    color: $color-primary;

    &:hover {
      color: $color-primary-contrast-text;
      background-color: $color-primary;
      border-color: $color-primary;
    }
  }

}
