.meta-cell {
  text-align: right;

  &:hover {
    cursor: pointer;
  }

  .row-number {
    color: $color-text-light-grey;
    font-size: 12px;
  }

  .row-expand {
    display: none;
  }

  &:hover {
    .row-number {
      display: none;
    }

    .row-expand {
      display: block;
    }
  }

  &.row-expanded {
    .cell-content {
      overflow: visible;

      .langtag {
        text-align: center;
        display: inline-block;
        line-height: 1;
      }

      .langtag span {
        display: block;
      }
    }
  }
}