@import "translationStatusWidget", "support", "greeter", "flagwidget";

#dashboard-view.wrapper {
  padding-top: 55px;
  overflow-y: auto;

  .widgets, .translation-status .content, .support .tiles {
    max-width: 1440px;
  }

  div {
    user-select: none;
  }

  .info-text {
    color: $color-text-medium-grey;
    padding-top: 10px;
  }

  .widgets-wrapper, .translation-status, .support {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .widgets-wrapper {
    background-color: white;
  }

  .widgets {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 25px;

    .tile {
      flex: 1;
      padding: 35px;
      min-width: 15vw;
      height: 200px;
      position: relative;

      &.wide {
        flex: 2;
        min-width: 30vw;
      }
    }
  }

  footer {
    padding: 150px 0 50px 0;
    width: 100%;
    text-align: center;
    color: $color-text-medium-grey;
  }

}

.feedback-toast {
  border-width: 5px;
  padding: 25px;
}
