.cell-value-link {
  display: block;
  width: fit-content;

  .empty {
    color: $color-red;
  }

  .boolean-cell {
    display: flex;
    align-items: baseline;
    gap: 6px;

    .svg-icon {
      height: 11px;
    }
  }

  .array-cell {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    &__separator {
      margin: 0 8px;
      font-size: 18px;
    }
  }
}

.cell-variant-link {
  .variant-cell {
    display: grid;
    gap: 8px;

    &__link {
      display: grid;
      gap: 8px;
    }

    &__toggle {
      color: $color-primary;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 0;

      i {
        font-size: smaller;
      }
    }
  }
}

.cell-attachemnt-link {
  .attachemnt-cell {
    color: $color-primary;
  }

  .empty {
    color: $color-red;
  }
}
