.preview-cell-value {
  .empty {
    color: $color-red;
  }

  .item-separator {
    margin: 0 6px;
  }

  .boolean-cell {
    display: flex;
    align-items: baseline;
    gap: 6px;

    .svg-icon {
      height: 11px;
    }
  }

  .currency-cell {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;

    &__item {
      display: inline-flex;
      align-items: center;
      flex-wrap: nowrap;
      width: 150px;
    }

    &__separator {
      margin: 0 8px 0 10px;
      font-size: 18px;
    }
  }

  .link-cell {
    .link-cell-item {
      display: inline-flex;
      align-items: center;
      flex-wrap: nowrap;

      .tooltip {
        &:after {
          display: none; // hide tooltip arrow
        }
      }

      &__value {
        position: relative;
        text-wrap: nowrap;
      }
    }

    .link-list-cell {
      display: flex;
      flex-direction: column;
      gap: 6px;

      &__toggle {
        color: $color-primary;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 2px 0 0;
      }

      i {
        font-size: smaller;
      }
    }
  }

  .attachment-cell {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .attachment-cell__images {
    &__link {
      color: $color-primary;
      padding: 0;
    }
  }

  .attachment-cell__others {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .attachment-slider-overlay {
    position: fixed;
    inset: 0;
    z-index: 1000;
  }

  .attachment-slider-backdrop {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
  }

  .attachment-slider-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1005;
    width: 100%;
    height: 95%;
  }

  .attachment-slider-close {
    position: absolute;
    top: 0;
    right: 40px;
    color: white;
    z-index: 1010;
    font-size: large;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-wrapper {
    top: -10%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-image-wrapper {
    position: relative;
    height: 100%;
    max-height: 70%;
    width: 100%;
    max-width: 80%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .swiper-image-title {
      position: absolute;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
      color: white;
    }
  }

  .swiper-button-prev {
    color: white;
    left: 40px;
  }

  .swiper-button-next {
    color: white;
    right: 40px;
  }

  .swiper-pagination {
    display: flex;
    justify-content: center;
    max-height: 120px;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 16px;

    img {
      min-height: 120px;
      min-width: 120px;
      object-fit: cover;
      background-color: $color-grey-dark;
    }
  }

  .swiper-pagination-bullet {
    opacity: 1;
    border-radius: 0;
  }

  .swiper-pagination-bullet-active {
    opacity: 0.3;
    cursor: auto !important;
  }
}

a.preview-cell-value:hover {
  color: $color-primary;

  .empty {
    color: $color-primary;
  }
}

.preview-cell-value a:hover {
  color: $color-primary;
}
