.preview-cell-value {
  .empty {
    color: $color-red;
  }

  .preview-cell-value-link {
    display: block;
    width: fit-content;
  }

  .preview-cell-value-link:hover {
    color: $color-primary;
  }

  .preview-cell-value-link .empty:hover {
    color: $color-primary;
  }

  .boolean-cell {
    display: flex;
    align-items: baseline;
    gap: 6px;

    .svg-icon {
      height: 11px;
    }
  }

  // .array-cell {
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  //   align-items: center;

  //   &__separator {
  //     margin: 0 8px;
  //     font-size: 18px;
  //   }
  // }

  .currency-cell {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;

    &__item {
      display: inline-flex;
      align-items: center;
      flex-wrap: nowrap;
      width: 150px;
    }

    &__separator {
      margin: 0 8px 0 10px;
      font-size: 18px;
    }
  }

  .currency-cell:hover {
    .empty {
      color: $color-primary;
    }
  }

  .link-cell {
    .link-cell-item {
      display: inline-flex;
      align-items: center;
      flex-wrap: nowrap;

      .tooltip {
        &:after {
          display: none; // hide tooltip arrow
        }
      }

      &__value {
        position: relative;
        text-wrap: nowrap;
      }

      &__separator {
        margin: 0 6px;
      }
    }

    .link-list-cell {
      display: flex;
      flex-direction: column;
      gap: 6px;

      &__toggle {
        color: $color-primary;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 2px 0 0;
      }

      i {
        font-size: smaller;
      }
    }
  }

  // .link-cell {
  //   .link-list-cell {
  //     display: grid;
  //     gap: 8px;

  //     &__entry {
  //       display: inline-flex;
  //       align-items: center;
  //       flex-wrap: wrap;
  //       gap: 8px;
  //     }

  //     &__item:hover {
  //       color: $color-primary;
  //     }

  //     &__toggle {
  //       color: $color-primary;
  //       cursor: pointer;
  //       display: flex;
  //       align-items: center;
  //       gap: 4px;
  //       padding: 0;

  //       i {
  //         font-size: smaller;
  //       }
  //     }
  //   }
  // }

  // .variant-cell {
  //   display: grid;
  //   gap: 8px;

  //   &__link {
  //     display: grid;
  //     gap: 8px;
  //   }

  //   &__link:hover {
  //     color: $color-primary;
  //   }

  //   &__toggle {
  //     color: $color-primary;
  //     cursor: pointer;
  //     display: flex;
  //     align-items: center;
  //     gap: 4px;
  //     padding: 0;

  //     i {
  //       font-size: smaller;
  //     }
  //   }
  // }

  .attachemnt-cell {
    &__link {
      color: $color-primary;
    }
  }
}
