.preview-view {
  box-sizing: border-box;
  background-color: white;
  height: 100%;
  padding-top: ($space-height-header);
  display: flex;
  flex-direction: row;

  &__resizeable-left {
    overflow-y: auto;
    // to move the scrollbar to the left side
    direction: rtl;
  }

  &__resizeable-right {
    position: relative;
    background-color: #f8f8f8;
  }

  &__resizer {
    position: absolute;
    top: 20%;
    left: -8px;
    width: 18px;
    height: 18px;
    background-color: blue;
    cursor: col-resize;
    z-index: 10;
  }
}

.preview-row-view {
  padding: 16px;
  // to move the scrollbar to the left side
  // but show the content from left to right
  direction: ltr;

  table {
    width: 100%;
  }

  &__row:hover {
    background-color: rgba(50, 150, 220, 0.05);

    .preview-row-view__column-selection {
      input {
        display: inline-block;
        cursor: pointer;
        margin-left: 0px;
      }
    }
  }

  &__row {
    width: 100%;
    min-height: 48px;
    display: flex;
    align-items: center;
    border-radius: 4px;

    &--selected {
      background-color: rgba(50, 150, 220, 0.20);

      .preview-row-view__column-selection {
        input {
          display: inline-block;
          cursor: pointer;
          margin-left: 0px;
        }
      }
    }

    &--selected:hover {
      background-color: rgba(50, 150, 220, 0.20);
    }
  }

  &__column {
    padding: 6px 8px;
  }

  &__column-selection {
    width: 30px;

    input {
      display: none;
      margin-left: 21px;
    }
  }

  &__column-name {
    width: 300px;
  }

  &__column-value {
    width: 100%;

    .empty {
      color: #d86357;
    }
  }
}

.preview-detail-view {
  padding: 16px 0 16px 16px;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    padding-right: 16px;
  }

  &__title {
    font-size: 24px;
  }

  &__checkbox {
    display: flex;
    align-items: center;

    input {
      cursor: pointer;
    }
  }

  &__table-wrapper {
    width: 100%;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: auto;
  }

  table {
    width: 100%;
  }

  &__row {
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;

    &--uneven {
      background-color: #efefef;
    }
  }

  &__column {
    padding: 6px 8px;
  }

  &__column-name {
    position: sticky;
    left: 0;
    z-index: 2;
    background: #f8f8f8;
    width: 250px;
  }

  &__row--uneven {
    .preview-detail-view__column-name {
      background: #efefef;
    }
  }

  &__column-value {
    min-width: 275px;
    width: 325px;
    max-width: 325px;

    .empty {
      color: #d86357;
    }
  }
}
