.preview-row-view {
  padding: 20px;
  // to move the scrollbar to the left side
  // but show the content from left to right
  direction: ltr;

  &__notifier {
    button {
      padding: 5px 10px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 28px;
  }

  &__title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 24px 8px;
  }

  table {
    width: 100%;
  }

  &__row:hover {
    background-color: rgba(50, 150, 220, 0.05);
  }

  &__row {
    width: 100%;
    min-height: 48px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 4px 0;

    &--selected {
      background-color: rgba(50, 150, 220, 0.2);

      .preview-row-view__column-selection input {
        opacity: 0.8;
      }
    }

    &--selected:hover {
      background-color: rgba(50, 150, 220, 0.2);

      .preview-row-view__column-selection input {
        opacity: 0.8;
      }
    }
  }

  &__column {
    padding: 6px 8px;
  }

  &__column-selection {
    width: 30px;

    input {
      cursor: pointer;
      opacity: 0.4;
    }
  }

  &__column-name {
    width: 300px;
  }

  &__column-value {
    width: 100%;
  }
}

.preview-title {
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  font-size: 32px;
  font-weight: 500;
  margin: 0 0 24px 8px;

  &__element:hover {
    color: $color-primary;
  }

  .tooltip {
    &:after {
      display: none; // hide tooltip arrow
    }
  }
}
