.overlay .attachment-overlay-header {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  height: 30px;
  display: flex;
  gap: 8px;

  .attachment-filter {
    flex: 1;
    display: flex;

    &__input {
      width: 100%;
      padding: 8px;
      border-radius: 3px;
      border: none;
      box-sizing: border-box;
    }
  }

  .dirent-order-control {
    flex: 0 0 auto;
    display: flex;

    .button-action__button {
      justify-content: center;
      color: #999;
      background: #ffffff;
      border: none;

      &--active {
        background: #333333;
        color: #ffffff;
      }
    }

    .button-action:first-child .button-action__button {
      min-width: 10rem;
      border-radius: 4px 0 0 4px;
      border-right: 1px solid #dedede;
    }

    .button-action:last-child .button-action__button {
      min-width: 35px;
      border-radius: 0 4px 4px 0;
    }
  }

  input.attachment-filter__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .attachment-filter__mode {
    .button-action__button {
      color: #999;
      background: #ffffff;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &--active {
        background: #ffffff;
      }
    }
  }
}
