.context-menu {
  position: absolute;
  z-index: 2;
  max-height: none;

  background-color: $color-overlay-header;
  border-radius: 4px;
  padding: 20px 0;



  .separator {
    padding: 10px 25px 10px 45px;
    width: 100%;
    color: $color-text-medium-grey;
    text-transform: uppercase;
    box-sizing: border-box;
    font-weight: bold;

    &.with-line {
      border-top: 1px solid transparentize($color-text-medium-grey, 0.5);
      padding-top: 25px;
      margin-top: 15px;
    }
  }
}

.column-head .context-menu {
  // @include context-menu-look();
  position: absolute;
  font-weight: normal;
  right: 0;
  top: 40px;
  z-index: 2;

}

@mixin context-menu-item-look(
  $cmi-text-color,
  $cmi-hover-text-color,
  $cmi-hover-background-color,
  $cmi-disabled-text-color
) {
  .context-menu__item {
    display: flex;
    padding: 10px 25px;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;

    .context-menu-item__icon {
      width: 20px;
      color: $color-text-medium-grey;
      position: relative;

      &.dot.translation {
        @include status-dot($color-needs-translation, transparent)
      }

      &.dot.important {
        @include status-dot($color-important, transparent);
      }

      &.dot.check-me {
        @include status-dot($color-checkme, transparent);
      }

      &.dot.postpone {
        @include status-dot($color-postpone, transparent);
      }
    }

    .context-menu-item__label {
      color: $cmi-text-color;
    }

    &:hover {
      background-color: $cmi-hover-background-color;

      .dot.translation {
        @include status-dot-hovered($color-needs-translation, $cmi-hover-background-color)
      }

      .dot.important {
        @include status-dot-hovered($color-important, $cmi-hover-background-color);
      }

      .dot.check-me {
        @include status-dot-hovered($color-checkme, $cmi-hover-background-color);
      }

      .dot.postpone {
        @include status-dot-hovered($color-postpone, $cmi-hover-background-color);
      }
    }
  }

  .context-menu__item--disabled {
    cursor: default;
    color: $cmi-disabled-text-color;
    .context-menu-item__label {
      color: $cmi-disabled-text-color;
    }
    &:hover {
      background-color: transparent;
      .context-menu-item__label {
        background-color: transparent;
      }
    }
  }
}

.row-context-menu {
  @include context-menu-item-look(
    $color-text-light-grey,
    $color-text-medium-grey,
    $color-hover-dark,
    darken($color-text-medium-grey, 10))
}

.column-header-context-menu {
  @include context-menu-item-look(
    $color-very-dark,
    $color-hover-foreground,
    $color-hover-background,
    $color-text-medium-grey
  )
}
