.context-menu {
  position: absolute;
  z-index: 2;
  max-height: none;

  background-color: $color-overlay-header;
  border-radius: 4px;
  padding: 20px 0;

  button,
  a {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding: 10px 25px;
    align-items: center;

    i {
      width: 20px;
      color: $color-text-medium-grey;
      position: relative;

      &.dot.translation {
        @include status-dot($color-needs-translation, $color-overlay-header);
      }

      &.dot.important {
        @include status-dot($color-important, $color-overlay-header);
      }

      &.dot.check-me {
        @include status-dot($color-checkme, $color-overlay-header);
      }

      &.dot.postpone {
        @include status-dot($color-postpone, $color-overlay-header);
      }
    }

    .item-label {
      color: $color-primary-contrast-text;
    }

    &:hover {
      background-color: $color-hover-dark;

      .dot.translation {
        @include status-dot-hovered(
          $color-needs-translation,
          $color-hover-dark
        );
      }

      .dot.important {
        @include status-dot-hovered($color-important, $color-hover-dark);
      }

      .dot.check-me {
        @include status-dot-hovered($color-checkme, $color-hover-dark);
      }

      .dot.postpone {
        @include status-dot-hovered($color-postpone, $color-hover-dark);
      }
    }
  }

  .separator {
    padding: 10px 25px 10px 45px;
    width: 100%;
    color: $color-text-medium-grey;
    text-transform: uppercase;
    box-sizing: border-box;
    font-weight: bold;

    &.with-line {
      border-top: 1px solid transparentize($color-text-medium-grey, 0.5);
      padding-top: 25px;
      margin-top: 15px;
    }

    &--internal {
      padding: 0;
      border-top: 1px solid transparentize($color-text-medium-grey, 0.5);
      margin: 8px 25px;
      box-sizing: border-box;
    }
  }
}
.prevent-scroll {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.column-head .context-menu {
  @include context-menu-look();
  position: absolute;
  font-weight: normal;
  right: 0;
  top: 40px;
  z-index: 2;

  button {
    border: none;
    display: block;
    padding: 10px 10px;

    &:hover {
      background-color: $color-select-list-selected;
    }
  }
}
