.language-switcher {
  position: relative;
  // width: 110px;

  .langtag-label {
    margin-left: 0.3em;
  }
}

header {
  .language-switcher {
    margin-top: 12px;
    float: right;
  }

  .language-switcher__item {
    padding: 3px 5px;
    text-align: center;
    width: 100%;

    &:hover {
      color: $color-hover-foreground;
      background-color: $color-hover-background;
    }
  }

  .language-switcher__value-container .language-switcher__item {
    width: auto;
    color: inherit;
    background-color: inherit;
  }
}
