html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: $color-body-background;
}

body * {
  outline: none !important;
  outline-style: none !important;
}

a, button {
  &:active {
    outline: none !important;
    outline-style: none !important;
  }
}

header {
  @include user-select(none);
}

.initial-loader {
  background-color: $color-background-very-light-grey;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.clearfix {
  clear: both;
}

input, textarea {
  font-family: $font-main;
  font-size: $font-size-standard;

  &::-ms-clear {
    display: none;
  }
}

.empty-item {
  text-transform: uppercase;
  font-style: italic;
  font-weight: lighter;
}

.ReactVirtualized__List {
  overflow: hidden !important;

  &:hover {
    overflow: auto !important;
  }
}

.row-one {
  -ms-grid-row: 1;
}

.row-two {
  -ms-grid-row: 2;
}

.row-three {
  -ms-grid-row: 3;
}

.col-one {
  -ms-grid-column: 1;
}

.col-two {
  -ms-grid-column: 2;
}
