html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: $color-body-background;
}

body * {
  outline: none;
  outline-style: none;
}

header {
  @include user-select(none);
}

.initial-loader {
  background-color: $color-background-very-light-grey;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;

  .centered-user-message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    color: $color-text-medium-grey;
  }
}

.clearfix {
  clear: both;
}

input, textarea {
  font-family: $font-main;
  font-size: $font-size-standard;

  &::-ms-clear {
    display: none;
  }
}

.empty-item {
  text-transform: uppercase;
  font-style: italic;
  font-weight: lighter;
}

.ReactVirtualized__List {
  overflow: hidden !important;

  &:hover {
    overflow: auto !important;
  }
}
