.media-view {
  box-sizing: border-box;
  height: 100%;
  padding: ($space-height-header + 50px) 50px 50px;

  &__card {
    position: relative;
    box-sizing: border-box;
    min-width: 600px;
    max-width: 1200px;
    height: 100%;
    padding: 30px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 8px;
    display: grid;
    grid-template-areas: "title . toolbar"
      "breadcrumbs breadcrumbs breadcrumbs"
      "dirents dirents dirents"
      "upload upload upload";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto 1fr auto;
    gap: 16px;
  }

  &__title {
    grid-area: title;
    box-sizing: border-box;
    padding: 0 8px 0 0;
    font-size: 24px;
    font-weight: 500;
  }

  &__toolbar {
    grid-area: toolbar;
  }

  &__breadcrumbs {
    grid-area: breadcrumbs;
  }

  &__dirents {
    grid-area: dirents;
  }

  &__upload {
    grid-area: upload;
  }

  .folder-toolbar {
    height: 30px;
    box-sizing: border-box;
    padding: 0 8px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    position: relative;
  }

  .folder-dirent {
    box-sizing: border-box;
    overflow: hidden;

    &:hover {
      background: #efefef;
    }

    &--list {
      border-bottom: 1px solid #dedede;
      display: grid;
      grid-template-columns: 1fr auto auto auto auto auto;
      grid-template-rows: auto;

      .folder-dirent__action--main {
        grid-row: 1;
        grid-column: 1/-1;
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .folder-dirent__action--dependents {
        grid-row: 1;
        grid-column: 2;
      }

      .folder-dirent__action--download {
        grid-row: 1;
        grid-column: 3;
      }

      .folder-dirent__action--move {
        grid-row: 1;
        grid-column: 4;
      }

      .folder-dirent__action--edit {
        grid-row: 1;
        grid-column: 5;
      }

      .folder-dirent__action--remove {
        grid-row: 1;
        grid-column: 6;
      }

      &:not(:hover) {

        .folder-dirent__action--download,
        .folder-dirent__action--move,
        .folder-dirent__action--edit,
        .folder-dirent__action--remove {
          opacity: 0.3;
        }
      }

      .folder-dirent__action--download,
      .folder-dirent__action--move,
      .folder-dirent__action--edit,
      .folder-dirent__action--remove {

        .button-action__button {
          padding: 0 12px;
        }
      }
    }

    &--tiles {
      border: 1px solid #dedede;
      border-radius: 4px;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: 1fr 30px;

      &:hover {
        border: 1px solid #333333;
      }

      .folder-dirent__action--main {
        width: 100%;
        grid-column: 1/-1;
        grid-row: 1/4;

        .button-action__button {
          padding: 0;
          display: flex;
          flex-flow: column;
          align-items: flex-start;
          gap: 6px;
        }
      }

      .folder-dirent__action--menu {
        grid-row: 3;
        grid-column: 2;
      }

      .folder-dirent__action--dependents {
        grid-row: 3;
        grid-column: 1;
      }

      .folder-dirent__label {
        padding: 0 8px;
        box-sizing: border-box;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        @supports (-webkit-line-clamp: 2) {
          overflow-wrap: break-word;
          white-space: normal;
          display: -webkit-box;
          line-clamp: 2;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
  }

  .file-upload {
    width: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &__info {
      display: flex;
      flex-flow: column;
      gap: 8px;

      &-title {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 4px;
      }

      &-progress {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        gap: 4px;
      }

      .progressbar {
        position: relative;
        width: 300px;
        left: 0;
        @include transform(translateX(0));
      }
    }

    &__dropzone {
      cursor: pointer;
      color: #00000066;
      border: 1px dashed #00000066;
      border-radius: 4px;
      width: 400px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #0000000A;
        color: $color-primary-text;
        border: 1px dashed #000000;
      }
    }
  }
}

.media-thumbnail {
  position: relative;

  &__overlay {
    display: none;
  }

  &--table,
  &--list {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .media-thumbnail__image {
      width: 100%;
      height: 100%;

      &:not(.media-thumbnail__image--icon) {
        object-fit: contain;
        background: url(/img/bg-tile.png);
      }

      &--icon {
        width: 36px;
        height: 36px;
      }

      &--icon.icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
      }
    }
  }

  &--table {
    width: auto;
  }

  &--tiles {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

    .media-thumbnail__image {
      width: 100%;
      height: 100%;

      &:not(.media-thumbnail__image--icon) {
        object-fit: contain;
        background: url(/img/bg-tile.png);
      }

      &--icon {
        width: 70px;
        height: 70px;
      }

      &--icon.icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
      }
    }
  }
}

.overlay .overlay-wrapper.file-dependents {
  height: 100%;

  .overlay-content {
    .file-dependents {
      &__loading {
        margin-top: 100px;
        text-align: center;

        .Tableaux-Spinner {
          position: relative;
          top: -30px;
        }
      }
    }

    .file-dependents-table {
      display: flex;
      flex-flow: column;
      gap: 16px;

      &__headers {
        display: flex;
        justify-content: space-between;
      }

      &__header {
        font-weight: 500;
        align-self: flex-start;
        padding: 0;

        &:hover {
          color: $color-primary;
        }
      }

      &__columns {
        display: flex;
        flex-flow: column;
        gap: 24px;
      }
    }

    .file-dependents-table-column {
      display: flex;
      flex-flow: column;
      gap: 10px;

      &__header {
        display: flex;
        flex-flow: column;
        gap: 4px;
        font-weight: 500;
      }

      &__rows {
        .ReactVirtualized__List {
          overflow: hidden !important;
        }

        &--expanded {
          .ReactVirtualized__List {
            overflow: auto !important;
          }
        }
      }

      &__expand {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        &:hover {
          color: $color-primary;
        }
      }
    }

    .file-dependents-table-row {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      background-color: $color-primary;
      color: $color-primary-contrast-text;
      padding: 0 16px;
      border-radius: 4px;
      height: 40px;
      line-height: 90%;
      margin-bottom: 4px;

      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      @supports (-webkit-line-clamp: 2) {
        span {
          white-space: normal;
          display: -webkit-box;
          line-clamp: 2;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }

      &:hover {
        background-color: $color-primary-darker;
      }
    }
  }
}

.overlay .overlay-wrapper.dirent-move {
  .header-wrapper {
    .breadcrumbs__link {
      font-size: inherit;
      font-weight: inherit;
      display: flex;
      align-items: center;
      gap: 4px;
      color: $color-primary-contrast-text;

      &:not(.active) {
        color: $color-text-light-grey;
      }
    }
  }

  .overlay-content {
    .dirent-move__list {
      margin: 0;
      box-sizing: border-box;
      height: 100%;
      min-height: 400px;

      .ReactVirtualized__List {
        overflow: auto !important;
      }

      .button-action {
        border-bottom: 1px solid #dedede;
      }
    }

    .nav,
    .subfolder {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__link {
        font-size: 13px;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 0;
        height: 100%;
        flex: 1;
      }
    }

  }
}

.overlay .overlay-wrapper .overlay-content .file-edit {
  display: flex;
  flex-flow: column;
  gap: 8px;

  .file-edit-item {
    padding: 20px;
    display: flex;
    gap: 40px;

    &__cover {
      width: 260px;
      height: 320px;
      display: flex;
      flex-flow: column;
      gap: 8px;
    }

    &__cover-upload {
      cursor: pointer;
      flex: 1;
      padding: 20px;
      display: flex;
      flex-flow: column;
      border: 1px dashed #a0a0a0;
    }

    &__replace {
      flex: 1;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      gap: 16px;

      .file-thumbnail {
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;

        &__overlay {
          display: none;
        }

        &__image {
          width: 180px;
          height: 180px;
          object-fit: contain;
          background: url(/img/bg-tile.png);

          &--fallback {
            background: transparent;
            width: 150px;
            height: 150px;
          }
        }
      }

      .file-icon {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        &__empty {
          font-size: 50px;

          .fa-plus {
            font-size: 40px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: #FFFFFF;
            background-color: $color-success;
            bottom: -15px;
            z-index: 2;
            line-height: 55px;
            right: 0px;
            left: auto;
          }
        }
      }
    }

    &__create {
      padding-top: 40px;
      text-align: center;
      display: flex;
      flex-flow: column;
      gap: 20px;

      &-title {
        font-size: 16px;
        font-weight: 700;
      }

      &-description {
        color: #999;
      }
    }

    &__cover-action {
      background-color: #f0f0f0;
      border: 1px solid #dfdfdf;
      padding: 12px;
      text-align: center;

      &:hover {
        background-color: #FFFFFF;
      }
    }

    &__meta {
      flex: 1;
      display: flex;
      flex-flow: column;
      gap: 8px;
    }

  }

  .file-edit-meta {
    background-color: #dfdfdf;
    padding: 20px 50px;
    display: flex;
    flex-flow: column;
    gap: 10px;

    &__header {
      font-weight: 700;
      text-transform: uppercase;
    }

    &__content {
      display: flex;
      flex-flow: column;
      gap: 2px;
      border-color: transparent;

      &:hover {
        border-color: $color-primary;
      }
    }
  }
}

.overlay .overlay-wrapper .overlay-content .folder-edit {
  display: flex;
  flex-flow: column;
  gap: 8px;

  .folder-edit-item {
    background-color: #dfdfdf;
    padding: 20px 50px;
    display: flex;
    flex-flow: column;
    gap: 10px;

    &__header {
      font-weight: 700;
      text-transform: uppercase;
    }

    &__content {
      display: flex;
      flex-flow: column;
      gap: 2px;
      border-color: transparent;

      &:hover {
        border-color: $color-primary;
      }
    }
  }
}

.overlay .overlay-wrapper .overlay-content .attachment-overlay-wrapper {
  // overrule some overlay styles
  margin: 0;
  height: 100%;
  overflow: hidden;

  .folder-file-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    i {
      margin-right: 5px;
    }

    .folder-navigation {
      flex: 1;
      background-color: $color-overlay-background-even;
      color: $color-primary-contrast-text;
      height: 100%;

      .back {
        padding: 23px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid lighten($color-text-light-grey, 5);
        height: 35px;

        button {
          padding: 10px 8px;
          border-radius: 3px;
          color: $color-text-medium-grey;

          display: flex;
          align-items: center;

          &:hover {
            color: $color-primary-contrast-text;
            background-color: $color-primary;
          }
        }

        .folder-name {
          color: $color-primary-text;
          font-weight: bold;
          padding: 4px 8px;

          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .folder-list-wrapper {
        overflow-y: auto;
        height: calc(100% - 35px);

        padding-top: 1em;
        padding-bottom: 1em;

        box-sizing: border-box;

        ul li {
          width: 100%;
          position: relative;
          box-sizing: border-box;

          button {
            padding: 5px 20px;
            display: block;
            width: 100%;
            height: 100%;
            color: $color-primary-text;

            &:hover {
              color: $color-hover-foreground;
              background-color: $color-hover-background;

              &:before {
                font-family: FontAwesome;
                content: "\f178";
                position: absolute;
                right: 10px;
              }
            }
          }
        }
      }
    }

    .file-list {
      flex: 2;
      padding: 0;
      height: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      border-left: 1px solid lighten($color-text-light-grey, 5);

      .real-file-list {
        flex: 1 1 auto;
      }

      .ReactVirtualized__Grid__innerScrollContainer {
        padding: 15px;
        margin-top: 15px;
      }

      .file-wrapper {
        width: 100%;
        padding: 3px 15px;
        box-sizing: border-box;
      }

      .file {
        padding: 8px;
        border-radius: 3px;
        background-color: $color-primary-contrast-text;
        color: $color-primary;

        svg {
          fill: transparent;
        }

        .overlay-table-row {
          box-sizing: border-box;
          display: flex !important;
          align-items: center;
          justify-content: space-between;
          padding: 5px;
          width: 100%;

          span {
            flex: 1 1 auto;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }

        &.is-linked {
          background-color: $color-primary;
          color: $color-primary-contrast-text;
        }

        button {
          color: inherit;

          &:hover {
            color: $color-primary-darker;

            svg {
              fill: $color-primary;
            }
          }
        }

        &:hover {
          background-color: $color-hover-background;
          color: $color-hover-foreground;

          .media-options {
            color: $color-primary;
          }
        }

        font-size: small;
        font-weight: bold;

        .media-options {
          color: transparent;
          font-weight: normal;

          button {
            color: inherit;
          }
        }
      }
    }
  }
}