@mixin taxonomy-interactive-element(
  $idle-color: $color-text-light-grey,
  $hover-color: $color-light-blue,
  $active-color: $color-primary
) {
  background-color: $color-white;
  border-radius: 4px;

  border-color: $idle-color;
  svg > * {
    fill: $idle-color;
  }

  &:hover {
    border-color: $hover-color;
    svg > * {
      fill: $hover-color;
    }
  }

  &--active,
  &:focus {
    border-color: $active-color;
    svg > * {
      fill: $active-color;
    }
  }
}

.tableaux-table--taxonomy {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .tree {
    padding: 24px 56px;
  }

  .table__subheader {
    color: $color-very-dark;
    background-color: $color-white;
    padding: 32px 56px;
    box-shadow: 0 1px 15px 1px $color-text-light-grey;
    z-index: 1;

    &-title {
      font-size: 20px;
      font-weight: 500;
    }

    .taxonomy-table__search {
      width: 900px;
      margin-top: 24px;

      .taxonomy-search__input {
        @include taxonomy-interactive-element();
        color: $color-primary-text;
        &--placeholder {
          font-style: italic;
        }
      }
    }
  }

  .taxonomy-table__tree {
    overflow-y: auto;
    flex: 1;
  }
  .tree-node {
    &__menu-button {
      flex: 1;
      height: 100%;
      background-color: $color-light-blue;
      border-radius: 4px;
      @include flex-centered();
      position: relative;
      color: $color-primary;
      & > * {
        fill: $color-primary;
      }

      &:hover {
        background-color: $color-hover-background;
      }

      &--open,
      &--open:hover {
        background-color: $color-primary;
        color: $color-primary-contrast-text;
        & > * {
          fill: $color-primary-contrast-text;
        }
      }
    }

    &__menu-popup {
      position: absolute;
      left: calc(100% + 8px);
      top: 0;
      background-color: $color-white;
      box-shadow: $box-shadow-light;
      border-radius: 4px;
      z-index: 1;

      &__item-group {
        &:not(:last-of-type) {
          border-bottom: 1px solid $color-text-light-grey;
        }
      }

      &__item {
        display: grid;
        padding: 12px 16px;
        padding-right: 32px;
        grid-template-columns: var(--tree-item-height) 1fr;
        color: $color-very-dark;

        & > svg > * {
          fill: $color-very-dark;
        }

        .item__icon {
          @include flex-centered();
          font-size: 16px;

          .flip-lr {
            transform: scaleX(-1);
          }

          .rotate-90 {
            rotate: 90deg;
          }
        }

        .item-title {
          white-space: nowrap;
        }

        &:hover {
          background-color: transparentize($color-text-light-grey, 0.8);
        }
      }
    }
  }
}
