.overlay-wrapper.link-overlay.link-overlay--taxonomy {
  .overlay-content {
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .overlay-main-content {
    overflow-y: auto;
    margin-bottom: 0;
    padding: 0 24px;
  }

  .overlay-subheader {
    font-size: 13px;

    &__title {
      font-size: 16px;
      padding-bottom: 8px;
      font-weight: 600;
    }

    .cardinality-count {
      font-size: 16px;
      font-weight: 500;
      padding-bottom: 8px;
      span:not(:first-child) {
        margin-left: 4px;
      }
      .number {
        color: $color-very-dark;
      }
    }

    .linked-item {
      display: flex;
      height: var(--tree-item-height);
      &:not(:last-of-type) {
        margin-bottom: var(--tree-item-margin-y);
      }
      &__content {
        flex: 1;
        background-color: $color-primary;
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding: 0 24px;

        &-title {
          color: $color-primary-contrast-text;
          font-weight: bold;
        }
      }

      .set-link-button {
        width: var(--tree-item-height);
        max-width: var(--tree-item-height);
        margin-right: 8px;
      }
    }
  }

  .set-link-button {
    flex: 1;
    height: 100%;
    text-align: center;
    border-radius: 4px;
    background-color: $color-light-link-color;
    color: $color-primary;

    &:hover {
      background-color: $color-subtle-grey;
    }

    &--disabled,
    &--disabled:hover {
      background-color: $color-text-light-grey;
      color: $color-text-medium-grey;
    }
  }
}
