.taxonomy-dashboard {
  h1 {
    font-size: 20px;
    font-weight: 500;
  }
  &__content-wrapper {
    padding-top: 55px;
    color: $color-very-dark;
  }

  &__header {
    background-color: $color-white;
    padding: 32px 56px;
    box-shadow: 0 1px 15px 1px $color-text-light-grey;
  }

  &__content {
    padding: 56px;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    h1 {
      font-size: 18px;
    }
    height: 210px;
    width: 320px;
    background-color: $color-white;
    border-radius: 8px;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-right: 56px;
    margin-bottom: 56px;

    &__header {
      margin-bottom: 8px;
    }
    &__content {
      flex: 1;
      overflow: auto;
      color: $color-text-medium-grey;
      line-height: 19.5px;
    }
    &__footer {
      padding-top: 16px;
    }

    .button {
      @include button-look();
    }
  }
}
