:root {
  --tree-animation-duration: 300ms;
}

.tree {
  padding: 24px;
  max-width: 900px;

  .tree-node {
    .hfill {
      flex: 1;
    }
    &__item-button {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin: 8px 0;
    }

    &__title {
      flex: 1;
      display: flex;
      padding: 12px 24px;
      font-weight: bold;
      border-radius: 4px;
      transition: background-color var(--tree-animation-duration) ease-in-out,
        color var(--tree-animation-duration) ease-in-out;
    }

    &__child-count {
      margin-left: 4px;
    }

    &--on-path,
    &--expanded {
      .tree-node__title {
        background-color: $color-primary;
        color: $color-primary-contrast-text;
      }
    }

    &--default {
      .tree-node__title {
        background-color: $color-white;
        color: $color-dark;
      }
    }
  }

  .subtree {
    padding: 0;
    margin: 0;
    padding-left: 16px;
    transition: all var(--tree-animation-duration) ease-in;
    height: 0;
    transform-origin: top;
    display: block;
    transform: scaleY(0);

    &--show {
      transform: scaleY(1);
    }
    &--entering {
      transform: scaleY(1);
    }
    &--leaving {
      transform: scaleY(0);
      height: 0;
    }
  }
}
